[2018-03-25 13:34] domenkozar opened #1 "cachix index command"

[2018-04-15 16:12] domenkozar opened #2 "Don't depend on servant-server and servant-auth-server"
- [x] [Move `ToJWT/FromJWT` into `servant-auth`](https://github.com/haskell-servant/servant-auth/issues/135)
- [x] [Cookie newtype wrapper for servant-auth](https://github.com/haskell-servant/servant-auth/issues/58)
- [x] [split Server part from `servant-generic` into `servant-generic-server`](https://github.com/haskell-servant/servant/pull/1003)

Stretch:
- [x] [servant-swagger-ui-core depends on

[2018-04-16 13:00] #1 closed, assigned to nobody

[2018-05-07 15:31] domenkozar opened #3 "Command line interface output"
Once initial version of Cachix is out, I'd like to properly format and design cachix output so that:

- it's possible to follow the flow of commands
- for each error, user is instructed what are possible options to recover
- uses color encoding for what to pay attention to
- allow different verbosity levels

[2018-05-07 17:27] domenkozar opened #4 "Implement custom Nix base32 in Haskell"
Depends on https://github.com/haskell-nix/hnix-store/pull/25

[2018-05-08 12:09] domenkozar opened #5 "Support per-project .cachix.dhall"
So that it's easy to do:

[code]

and cachix knows what binary caches to configure.

Suggested by @zimbatm

[2018-05-11 11:36] domenkozar opened #6 "Spec test for nix.conf: parse . render == id"
Currently `NixConfSpec` tests hardcoded values only, but we'd get more coverage using quickcheck.

[2018-05-23 18:10] domenkozar opened #7 "cachix push --watch-store"
Use inotify to watch `/nix/store` and sync new paths as they come into cachix.org

[2018-05-25 17:02] domenkozar opened #8 "A test for constant memory streaming of store paths"
A test to prove memory is constant while pushing.

[2018-05-26 10:21] domenkozar opened #9 "runtime/build-time dependencies"
Currently cachix only uploads runtime closure, but one could upload all build-time dependencies using:

[code]

[2018-05-27 11:56] domenkozar opened #10 "Send custom user agent with cachix version"
Once cachix is released, start sending version number with http requests to see distribution of versions in the wild.

[code]

[2018-05-28 14:54] domenkozar opened #13 "Release 0.1 to hackage"
- [x] Requires servant release (0.14)
- [x] [Requires servant-auth release](https://github.com/cachix/cachix/pull/59)
- [x] https://github.com/cachix/cachix/pull/62
- [x] wait for LTS-12

[2018-05-28 15:24] zimbatm opened #14 "Easier per-project cachix configuration"
Cater for the following scenario:

[code]

Ideally both projects don't need any configuration and nix-build knows how to use the right binary cache.

Potentially introduce a `cachix run --` dispatcher that wraps all the nix CLI tools with the right config.

[2018-05-28 15:38] domenkozar commented on #14
Relevant: #5

[2018-05-30 12:27] domenkozar opened #16 "Upstream binary cache"
There is a common use case why a binary cache would declare other caches as upstream: It expects binaries to come from another binary cache: it is true for all cachix binary caches to depend on official cache.nixos.org

Possible solutions:

a) "Proxy": if there is no such narinfo in current cache, query upstream caches and redirect. Possible issue here is how Nix handles signatures to match the bi

[2018-05-31 10:11] domenkozar commented on #14
I was thinking something like:

`cachix run <name1> <name2> -- nix-build` would be a scoped run of the two binary caches. I wonder what are the drawbacks?

[2018-05-31 10:24] domenkozar opened #17 "Overlays integration"
Add seamless integration for [nixpkgs overlays](https://nixos.org/nixpkgs/manual/#chap-overlays).

It would allow users of a Nix project to say like:

[code]

Which would essentially do a `git clone ...` and `cachix use foo` as per #5

[2018-05-31 10:34] domenkozar opened #18 "Search over executables"
Given that `nar` files coming to binary cache contain list of file names it should be possible to also create an index of files and provide a search over binary cache. Possibly offline and online.

[2018-05-31 10:36] domenkozar opened #19 "Documentation (+API)"
Although current HTTP API is served at https://cachix.org/api/v1/ - it's not finalized. In following months I'd like to gather feedback and document in-depth how cachix works and how to integrate it into different services (Hydra, other CIs, etc).

- [ ] remove `c` prefix in `NarInfoCreate` types
- [ ] tests all `ToJSON/FromJSON` outputs
- [ ] use tags http://hackage.haskell.org/package/servant-sw

[2018-05-31 10:37] domenkozar opened #20 "Garbage collection"
Since binary caches can grow, there should be a way to configure a garbage collection strategy. I envision the simplest one that would cover 80% of use cases is: collect oldest uploads that go over certain date or storage size.

[2018-05-31 14:04] k0001 opened #21 "Can't logout from cachix.org"
I logged in to cachix.org using GitHub but it doesn't look like the UI allows one to log out.

[2018-05-31 14:08] k0001 opened #22 "Typo in cachix.org homepage"
- [x] …it will *built* identically…

Is the code for the website publicly available, by the way?

[2018-05-31 14:45] k0001 commented on #20
Or, collect things that haven't been downloaded recently.

The “oldest” approach doesn't work that well when people don't update things frequently, which is quite common if, for example, you only update your pinned version of `nixpkgs` once every a couple of months. This is a common problematic situation when trying to pin `nixpkgs` and benefit from its binary cache at the same time.

[2018-05-31 15:07] domenkozar commented on #21
Yeah not yet, but should be easy to add. I'll do so after announcement.

[2018-05-31 15:09] domenkozar commented on #22
Thanks! Website + server side are closed source for now, although that may change in the future.

[2018-05-31 15:09] #22 closed

[2018-06-01 13:59] domenkozar commented on #19
Thanks for feedback.

No, cachix account is only necessary for creating binary caches and pushing/copying to them. For using a public cache, there's no need to have cachix account. I'll make sure this is addressed.

Funding: it's not entirely clear at this stage, but I have plans to add support for private caches and possibly add some premium features. It depends on feedback from users, I'd like t

[2018-06-01 19:01] ElvishJerricco opened #24 "Authenticated caches"
Just an idea for the future. It'd be nice if caches could be configured to be private, so that it requires authentication to access. I suppose you could argue that merely having the hash of the build is authentication enough, but I'm not 100% sure on that. At the very least, cachix itself serves as an extra attack vector, since presumably admins can see all builds everywhere.

[2018-06-01 20:26] equalunique opened #25 "error: cannot download certdata2pem.py from any mirror"
The install command failed:

`nix-env -if https://github.com/cachix/cachix/tarball/master --substituters https://cachix.cachix.org --trusted-public-keys cachix.cachix.org-1:eWNHQldwUO7G2VkjpnjDbWwy4KQ/HNxht7H4SSoMckM=
`
...
`trying https://anonscm.debian.org/cgit/collab-maint/ca-certificates.git/plain/mozilla/certdata2pem.py?h=debian/20170717`
`  % Total    % Received % Xferd  Average Speed   Time

[2018-06-02 03:05] equalunique commented on #25
I was able to get around this using the commands associated with this commit to nixpkgs: https://github.com/NixOS/nixpkgs/commit/933d7f37ace7928c10c99f760d18c561f6a631b7

[code]

[2018-06-02 03:05] #25 closed

[2018-06-02 17:55] domenkozar commented on #24
Hey @ElvishJerricco - I'm planning to add authenticated caches - you can subscribe to the form at https://cachix.org/#faq to get more updates as it rolls out.

[2018-06-02 18:08] domenkozar opened #26 "Installing cachix builds everything from source if Nix user isn't trusted"
This shows as:

[code]

long term fix is to release cachix to hackage as per #13, but I wonder what can be done mid-term:

a) static musl binary

b) documentation to configure user as trusted

c) use at least cache.nixos.org

[2018-06-03 00:46] samueldr opened #27 "When blocking third party scripts, copying does not work..."
... and `user-select: none` makes it impossible to select the commands and copy them manually. Aditionally, removing this rule doesn't make the text selectable because of how it is wrapped in a `<button>`.

Here's the (expected) error in the console:

[code]

This has been blocked by my default µmatrix rules.

![20180602203449](https://user-images.githubusercontent.com/132835/40882031-6ea1eb82-66a

[2018-06-03 11:46] AlexeyRaga opened #28 "Optimise packages upload"
I noticed that uploading a package that already exists is as slow as uploading it for the first time.

It is very noticeable  on big packages, such as `llvm` or `ghc`:  every time I call `nix-build -A xxx | cachix push name` it seems to re-upload all the dependencies.

I would expect that if the package hash already exists in cache then `cachix` could skip uploading it and move on to the next pack

[2018-06-03 11:50] AlexeyRaga opened #29 "Cachix doesn't finish upload"
I run the following command:
[code]

have the following log:
[code]

As we can see, the last one is `pureMD5` package, the one that I requested. It is a very small package, but `cachix` doesn't finish uploading and sits with this log for a very long time (maybe 20 minutes, maybe more) now.

Expected result: Exit with success or exit with error.

[2018-06-03 13:52] AlexeyRaga commented on #28
Awesome, thanks!

[2018-06-04 06:26] pjan opened #30 "`cachix use` to print out nixos configuration.nix"
or at least provide an option for that instead of writing it to the `nix.conf` file in the `XDG_CONFIG_DIR`.

e.g.:

Add the following to your configuration.nix:

[code]

[2018-06-04 08:50] domenkozar commented on #30
What would the option be called, `--nixos`?

[2018-06-04 10:58] AlexeyRaga commented on #26
Is there a workaround? How do I configure user as trusted, or is there a reason I shouldn't do it?

[2018-06-04 11:18] AlexeyRaga commented on #26
I have ended up adding `trusted-substituters = https://cache.nixos.org https://alexeyraga.cachix.org`,  looks like it works now

[2018-06-04 17:22] domenkozar commented on #21
There's a logout button now :)

[2018-06-04 17:22] #21 closed

[2018-06-05 10:28] domenkozar commented on #27
Thanks for all the suggestions @samueldr, I've deployed a fix that bundles clipboard with the rest of javascript. I'll address the rest of the issues in following days as I agree it could be done better :)

[2018-06-05 18:53] toraritte opened #32 "Browse public packages (and/or derivations)"
Do you plan on adding visibility options to packages so that these could be browsed by others?

I'm fairly new to `nix` and loving it, but I already see that the current `nixpkgs` repo is getting out of control and contribution is also not the friendliest.

Thanks a lot for all your efforts putting Cachix together!

[2018-06-06 04:06] antifob opened #33 "Deleting objects from the cache"
Hi,

Thanks for the awesome project.

Is it possible to delete object from the cache? For example, if an error occured and a build containing private keys was pushed. This can also allow cache purging, so that unused builds are not kept indefinitely (à la garbage collection).

[2018-06-06 04:10] antifob opened #34 "Signatures removed on push"
Signatures placed on builds are removed when pushed?

It is possible to keep those signatures on the cache and get them back when pulling them back.

related: #28
possibly related: https://github.com/NixOS/nix/issues/2127 (are signatures even transferred?)

[2018-06-06 10:58] Mic92 opened #35 "NixOS instructions to add cache configuration are not formatted"
`cachix use r-ryantm` currently prints:

[code]

instead of:

[code]

[2018-06-06 14:30] domenkozar commented on #35
Sorry about this :( Will fix ASAP.

[2018-06-06 14:48] Mic92 commented on #35
No worries, it is a only usability bug after all.

[2018-06-07 08:01] domenkozar commented on #34
@antifob what's the use case? You'd like to sign builds with a different key than the one cachix generates?

[2018-06-07 15:00] domenkozar commented on #28
@alexeyraga https://github.com/cachix/cachix/pull/37

[2018-06-07 18:17] domenkozar commented on #26
Workaround: `echo "trusted-users = root $USER" | sudo tee -a /etc/nix/nix.conf"`

[2018-06-07 18:28] domenkozar commented on #33
Garbage collection will be handled by https://github.com/cachix/cachix/issues/20, but there should also be a way to delete a store path. Until then, in case of security issues contact me at domen@enlambda.com

[2018-06-07 18:28] dtzWill commented on #26
Running as non-trusted user is the default/normal on NixOS, so this seems like the expected/common case.

Perhaps this should be mentioned in the installation instructions or something?

[2018-06-07 18:30] domenkozar commented on #32
@toraritte so you'd like to search over packages or executables?

[2018-06-07 18:34] dtzWill commented on #30
:+1:

Related but minor issue: `cachix use` as untrusted user does this:
[code]

First message is spot-on, but second is a bit off.  Made me double-check I didn't have some pre-2.0.1 Nix somehow being used/invoked xD.

[2018-06-07 18:39] domenkozar commented on #30
Related #35

[2018-06-08 09:39] #28 closed

[2018-06-09 00:39] antifob commented on #34
I'd like to see both signatures, actually. This is mainly useful in the case of cache sharing as it allows accountability for whom pushed something in case it has been tampered with before being cached.

I noticed that pushing an object that already exists doesn't replace an existing object. So if the first push has been tampered with, it is compromised forever (or until it is deleted).

I also ha

[2018-06-09 03:29] toraritte commented on #32
Would you confirm is the use case below would be a valid one?

That is, after creating a web service (Elixir/Phoenix/PostgreSQL/React), it  would be possible to bundle all up and just upload it to Cachix, correct? It could be cloned from the github repo and set up by going through the written instructions (install dependencies, create database etc.), but with a Nix package it would just one comman

[2018-06-09 04:18] dtzWill opened #39 "Partial trust?"
The packages used to boot my laptop should probably (definitely) be from the official Nix cache or from my own builders.

Using cachix seems to require trusting everything at this level as well, which is rather unfortunate.

One might be willing to run some random person's build of a tool (perhaps in a sandbox) without wanting to trust them at a system level.

Diverted stores are partial solution

[2018-06-09 06:05] nrolland commented on #25
so a "by default" fix will just involve the channels picking up with this commit ?

[2018-06-10 10:26] #7 closed, assigned to nobody

[2018-06-12 07:43] nlewo opened #44 "Installation if failing due to a missing remote file"
[code]

I added the substituters `cache.nixos.org` to get this derivation from the NixOS cache. Why it is not in the `cachix.cachix.org` binary cache? Is it intended?

[2018-06-12 12:47] domenkozar commented on #26
Indeed, let me fix this in following days.

[2018-06-12 14:40] nrolland commented on #26
I applied the workaround (adding my user to the trusted list) but that keeps "ignoring untrusted substituter 'https://cachix.cachix.org'"

Is there a command that pretty print the configuration ? (would be useful for discussing of issues maybe..)
Should some service be restarted after modifying the config file ?

[2018-06-12 14:53] domenkozar commented on #26
Sadly nix-daemon doesn't reload on nix.conf change so you have to restart it, which depends on what OS you have.

[2018-06-12 15:37] domenkozar opened #47 "Optimize: check before uploading nars"
At the moment, even if nar already exists, cachix will still upload it. This is a waste of bandwidth, but currently cachix doesn't try to compute final sha as that would mean doing the full dump+compress twice.

[2018-06-12 15:40] nrolland commented on #26
indeed, looks like that did it for macOS

[code]

[2018-06-12 16:20] xulunfan opened #48 "error: imported archive of ‘/nix/store/w27br1fgdqpvsxb5rb4mvvwc83lq2dkf-master’ lacks a signature"
When I install cachix according to the installation command, it display imported archive lacks a signature?
[code]
My nix version is nix (Nix) 2.0.1.

[2018-06-13 01:09] swflint opened #49 "Pushing an updated package to the cache fails."
In pushing a rebuilt/update package to cachix, I receive the following error:

[code]

As a note, trying to read the error is an exercise in frustration, given all of the `\\n`s and such in there.

[2018-06-13 04:13] domenkozar commented on #48
@xulunfan can you try running the command again and pasting full output?

[2018-06-13 04:16] domenkozar commented on #49
On first sight this seems like a networking issue: `Network.Socket.connect: <socket: 23>: does not exist (Network is unreachable)` - have you retried and made sure you can `curl https://cachix.org`?

[2018-06-13 06:30] nlewo commented on #44
Yes, i'm using NixOS and I've used this workaround.
Thanks, also for cachix!

[2018-06-13 06:30] #44 closed

[2018-06-13 12:26] cocreature opened #52 "How does one use cachix to share nix-shell environments?"
First of all, thanks for cachix! It’s an awesome project!

Now to my question: I have a bunch of projects that have fairly expensive (in terms of build time) development environments (e.g. they require debugging builds of LLVM) so cachix would be perfect for sharing these environments with other developers.
However, I’m not really sure what the best way of doing that is.

[2018-06-13 12:33] domenkozar commented on #48
@xulunfan could you paste output of `ps aux | grep nix-daemon`?

[2018-06-13 13:47] asymmetric opened #53 "Add signal handling to the daemon"
In order to avoid having to call `cachix push` [twice](51), we can do the following:

* Add signal handling to the daemon mode
* Have a signal that, when received, finishes pushing and then exits
* Run the daemon in a job in parallel with `nix-build`
* Send that signal after `nix-build`

[2018-06-13 13:53] swflint commented on #49
It seems like that's what it was.  No idea why, I wasn't having issues with anything else.

[2018-06-13 13:54] domenkozar commented on #49
I do agree error messages should be fixed.

[2018-06-13 14:07] cocreature commented on #52
Seems to work perfectly, thanks!

[2018-06-13 14:09] domenkozar commented on #52
Let's leave this open until it's documented :)

[2018-06-14 11:46] #48 closed

[2018-06-14 16:29] nh2 opened #54 "No --version flag"
[code]

would be handy to file issues.

[2018-06-14 16:33] nh2 opened #55 "xz compression caps upload at ~3-5mbit/s"
`cachix push` is uploading with 3-5 Mbit's from my 1000 Mbit/s connection from Zurich.

I suspect the biggest reason is lack of HTTP keepalive; every upload is a new HTTP(s!) / TCP connection. That resets the TCP window size for every package.

I think that if you move this code that creates the HTTP manager

https://github.com/cachix/cachix/blob/fed0a719e4c63a693b6a593004b7a6e7e92216e8/cachix/src

[2018-06-14 16:48] nh2 opened #56 "On single-user installations, provide a good error when invoking cachix with root"
`nix` wants to be installed as non-root on non-NixOS.

Then I do that, and `cachix use` gets me:

[code]

then as root:

[code]

[code]

[code]

No easy time yet!

[2018-06-15 11:34] danbst commented on #55
This may be also a throttling from server side

[2018-06-15 14:13] nh2 commented on #55
I thought up some garbage here, sorry. Of course updating the pure `baseUrl` inside `env` has no effect on the `Manager` contained within `env`. Sorry for the confusion. The issue must be somewhere else.

[2018-06-15 14:23] nh2 commented on #55
There is definitely something funny going on. Even changing from `mapPool 4` to `mapPool 400` doesn't change the throughput. But at closer look, `cachix` is CPU-bound. It must be doing something expensive somewhere.

[2018-06-16 09:34] domenkozar commented on #55
I'd say it's lzma compression with level 6.

[2018-06-16 09:38] domenkozar commented on #55
https://goo.gl/images/MHFiHN

[2018-06-16 14:51] nh2 commented on #55
Oh yeah that makes sense. Are other compressions also supported? With LZMA it will be impossible to reach gigabit line speed.

[2018-06-16 15:03] nh2 commented on #55
Indeed switching from `.| compress Nothing` to `.| compress (Just 0)` brings me up to ~50 Mbit/s. Better, but still factor 20 below nice working conditions.

Are there other crompression methods available?

For example, `gzip -1` can do 25 MB/s per core, `lzop` can do 400 MB/s per core.

[2018-06-16 16:17] domenkozar commented on #55
We could also support gzip, but I'd leave xz as default since there's the tradeoff between CPU or Network (+ size of transfer).

Maybe we should opt-in for compression level 4 or 5.

[2018-06-17 18:09] periklis opened #58 "Installing cachix on darwin multi-user installation fails"
## Description
Installing cachix on darwin multi-user installation after adding cachix to trusted binary caches fails with an "Nix daemon out of memory" error. It seems to fails on `openssl-1.0.2o`

## Steps to reproduce

[code]
## Nix system info
[code]

[2018-06-17 18:37] domenkozar commented on #58
Could you try with `-j1`?

[2018-06-18 07:28] periklis commented on #58
I've already tried this options.

[2018-06-18 07:32] periklis commented on #58
I suspect this issue is still alive nixos/nix#1681

[2018-06-18 11:19] unode commented on #26
On NixOS setting:
[code]
worked. No need to restart nix-daemon manually.

The `tee` command above didn't work due to `read-only`.

[2018-06-18 11:56] unode commented on #26
Is this `trustedUsers` setting required for regular use? Wondering about security implications...

[2018-06-18 12:56] asymmetric commented on #49
Should this be closed?

[2018-06-18 13:06] swflint commented on #49
More than likely.

[2018-06-18 13:06] #49 closed

[2018-06-18 17:37] domenkozar commented on #58
@periklis intersting, how much ram do you have free?

[2018-06-18 23:14] dtzWill opened #60 "hydra integration / plugin?"
It's hinted that this may already be possible in #19, but perhaps I'm misunderstanding.  If not, consider this a feature request and if it's just a matter of discussion then I suppose we can close as dupe :).

[2018-06-18 23:17] dtzWill commented on #53
If actual signal handling is not easily supported (dunno), any mechanism for communicating "please stop looking for new paths to upload and exit after finishing the current queue" would (at least in my opinion) address the motivation for this issue.  Agreed this would be neat particularly for the CI case :).

[2018-06-18 23:17] dtzWill commented on #39
Nevermind, at best this belongs as an issue on Nix I suppose.  It'd be cool if cachix had some magical solution but not sure that's reasonable :).

[2018-06-18 23:17] #39 closed

[2018-06-19 11:40] domenkozar commented on #60
I haven't investigated what's the best effort to do so, but it's clearly something that is needed :)

[2018-06-19 11:54] domenkozar commented on #39
Sorry for long-awaited answer :) Yeah, this is in scope of Cachix, but not solvable in cachix itself. I think it needs also runtime isolation, so one way or another you end up with Docker or other containers.

On the other hand, I'll work on improving trust into users (by adding github<->cachix exposure) and long-term support binary-deterministic features.

[2018-06-19 14:19] periklis commented on #58
my machine has 16GB of RAM.

[2018-06-19 17:35] domenkozar commented on #55
@nh2 would gzip solve your concern (trade CPU for size)?

[2018-06-19 17:38] domenkozar commented on #58
That's really strange, it might not be 1681 since it's really unpacking just 200MB on 16GB of ram. In any case, if you'd like to debug and take this further it needs to be reported on nixos/nix

If you have any further questions regarding Cachix let me know! :)

[2018-06-19 17:38] #58 closed

[2018-06-19 17:44] domenkozar commented on #56
You have to use it as non-root all the way since Nix is not installed for root user.

But there are a few things that can be done:

a) error out if `nix-env` is not available with a clear message
b) cachix would fail using root user on single-user installations and tell what to do

That's whay I can think of :)

[2018-06-20 13:42] nrolland commented on #26
@unode I'd love to see some overview of nix with this trust perspective. documentation seems a bit scattered here and there and I did not follow the new stuff like trust

[2018-06-20 16:20] periklis commented on #58
Nice thanks @domenkozar

[2018-06-20 17:18] asymmetric commented on #39
@domenkozar could you expand on what features you mean regarding binary-determinism?

Also, what do you mean by github<->cachix exposure?

It might make sense to create 2 separate issues for these two points :)

[2018-06-20 17:18] domenkozar commented on #60
Ah, I know how to implement this. Nix 2.0 supports HTTP binary cache uploading, so if I implement that it should be in theory be possible to configure hydra to upload everything to cachix.

[2018-06-20 17:19] #54 closed

[2018-06-20 17:20] #10 closed

[2018-06-20 17:33] asymmetric opened #63 "IP whitelisting"
It would be cool if it were possible to specify a list of IPs that are allowed to push.

[2018-06-22 19:53] domenkozar commented on #55
@nh2 took the liberty to rename the title, if you think gzip would help I'm happy to consider implementing this as a flag :)

[2018-06-22 20:13] domenkozar commented on #26
@unode you need the binary cache to be trusted by Nix.

In essence, you're trusting whoever produced binaries not to be malicious or otherwise you could get your system compromised.

[2018-06-23 11:05] domenkozar commented on #30
Should be very easy to implement once https://github.com/cachix/cachix/pull/66 is merged

[2018-06-23 12:09] Zimmi48 commented on #16
Indeed, I'd be glad if I could avoid re-pushing to my personal cachix everything that is already in https://cache.nixos.org.

[2018-06-23 14:13] dtzWill commented on #16
For cachix devs/provider a similar issue/idea would be to dedup across cachix's in a manner similar to what `nix-store --optimize` does.  I suppose there's also the question of whether this would be undesirable, same for when using an upstream, since the redundancy might in some cases be desired/intentional.

[2018-06-23 16:13] domenkozar opened #67 "Support Nix 1.0"
As requested by @lukego

[2018-06-23 16:37] asymmetric commented on #16
This could be a local setting.

[2018-06-23 17:08] #35 closed

[2018-06-23 17:10] domenkozar commented on #26
This issue will be addressed with Cachix 0.1 release in part of stackage LTS-12 in ~week.
Last dependency not released is https://github.com/plow-technologies/servant-streaming/pull/9

[2018-06-23 17:32] domenkozar commented on #30
Here we go: https://github.com/cachix/cachix/pull/68

[2018-06-23 20:09] dtzWill opened #69 "cachix claims "all done" when echo'ing multiple paths on same line?"
Somewhere I think I saw a suggestion that `echo /nix/store//path | cachix push $MYCACHIX`, which I've been using for items I've already built or when the store path is more handy than the original derivation (which I have too but may be in a different machine's shell history :P or something).

Anyway, when I wanted to upload two paths I tried this:

[code]

Which appears to not be recognized as tw

[2018-06-23 20:45] dtzWill commented on #69
Well on the plus side it looks like I can easily pass multiple paths as arguments instead, woohoo! :)

[2018-06-23 22:43] chris-martin opened #70 "File containing secret key is world-readable"
Cachix creates `~/.config/cachix/cachix.dhall` with permissions 644 - I think that ought to be locked down more so that the secret key isn't world-readable.

Also maybe `cachix authtoken` should prompt for the secret key instead of accepting it as a command-line argument? I imagine most users aren't going to think to disable their shell history when following the getting-started instructions.

[2018-06-24 04:05] chris-martin opened #71 "FatalError {fatalErrorMessage = "You need to: export CACHIX_SIGNING_KEY=XXX"}"
This is what happens when I try to push:

[code]

Is `CACHIX_SIGNING_KEY` something I should need to set manually?

[2018-06-24 10:28] domenkozar commented on #70
@chris-martin yeah I'll fix this one for 0.1 :)

About separate file: could you open another issue?

[2018-06-24 10:31] domenkozar commented on #69
Your example should definitely work. Cachix expects space separate paths on stdin or command line arguments. Are you saying that https://allvm.cachix.org/zzcy2xwz618jw9ggfqqsj4vn5xjggaxb.narinfo was then indexed by cli argument but did not work using echo?

About piping: `nix-build` will output all built derivations that were result of `default.nix` to stdout and all build output to stderr.

[2018-06-24 10:32] domenkozar commented on #69
I'm lying, there's a bug: `T.lines <$> getContents`. So it will expect newline separated paths, I should fix this.

[2018-06-24 10:45] domenkozar commented on #69
@dtzWill thanks - should be addressed by https://github.com/cachix/cachix/pull/72 - you can try it out as per description.

[2018-06-24 11:10] domenkozar commented on #70
https://github.com/cachix/cachix/pull/73

[2018-06-24 13:36] nh2 commented on #55
@domenkozar Yeah I think it would be great if we could have gzip vs xs and the level user-configurable.

Because as mentioned above, with `gzip -1` you can do 25 MB/s per core, so 4 cores can saturate a Gigabit uplink.

I think it's good to have this as an option because the optimal value depends a lot on how the user wants to use cachix:

* If they want to upload to cachix to simplify and speed u

[2018-06-24 13:42] nh2 commented on #55
@domenkozar Another question (not important now, but perhaps interesting for later): Does nix allow only downloads in `xz` and `gzip`, or can it also support other algorithms?

For example, [`zstd`](https://code.facebook.com/posts/1658392934479273/smaller-and-faster-data-compression-with-zstandard/) seems like a very good tradeoff for software packages.

[2018-06-24 13:49] nh2 commented on #56
I see. Indeed the error disappears works fine when I move `/etc/nix/nix.conf` to `/home/niklas/.config/nix/nix.conf`.

However, by now I'm glad it didn't work the first time:

`cachix use` seems to _override_ the file entierly, throwing away any settings I had in there. Is that intended?

These sound good.

[2018-06-24 14:16] domenkozar commented on #56
@nh2 could you copy the file you had?

[2018-06-24 14:34] srghma commented on #17
What is this issue for? (I just have some problem, maybe its related)

[2018-06-24 14:42] nh2 commented on #56
[code]

[2018-06-24 15:29] chris-martin commented on #71
How do I get the signing key if the config from the first machine is gone?

[2018-06-24 15:39] chris-martin opened #74 "The secret key should go into a separate file"
The secret key currently goes into the same file as the rest of the configuration; it would be nice to keep it separate so that the rest of the config can be shared publicly.

[2018-06-24 15:40] chris-martin commented on #70
Opened the other issue - #74

[2018-06-24 15:44] domenkozar commented on #71
If you haven't written it down it's gone. Write to domen@enlambda.com and I'll help you create a new one :)

[2018-06-24 15:48] chris-martin commented on #71
That was hypothetical :)

Maybe step 3 of the instructions should emphasize that you need to back up that key.

[2018-06-24 18:16] chris-martin opened #75 "Interrupt sometimes causes segmentation fault"
When I stop `cachix push` with ctrl+C, somewhere around half the time it terminates with a segmentation fault.

[code]

I haven't seen any consequences of this so far, but reporting just in case, since it seems indicative of a problem.

[2018-06-24 18:33] chris-martin commented on #20
It would be cool if cachix had a concept of "GC roots" like Nix does, to use as one of the eviction heuristics.

[2018-06-24 23:13] #69 closed

[2018-06-24 23:20] #30 closed

[2018-06-25 07:33] #70 closed

[2018-06-25 08:56] domenkozar commented on #56
:hankey:

[2018-06-25 10:29] domenkozar commented on #56
Found the issue, `NixConf.read` signals `Nothing` for unfound file and also parsing error, so your config fails to parse and Cachix thinks it's empty. Need to make this explicit and fix the parsing issue :)

[2018-06-25 18:48] domenkozar commented on #56
@nh2 thanks for playing :) https://github.com/cachix/cachix/pull/76

[2018-06-25 18:59] domenkozar commented on #74
Why is sharing Cachix config file publicly useful? I'm just wondering :)

In any case since it's Dhall you could modify the config file to import secrets yourself and Cachix should still work. Not tested.

[2018-06-25 20:51] chris-martin commented on #74
I've realized since I made this comment that I don't actually know what goes in the Cachix file other than secrets, so maybe this isn't actually an issue. For me, making stuff public is just a matter of convenience, because it means I can keep it in the version-controlled part of [my home directory](https://github.com/chris-martin/home).

Does Cachix programmatically edit the config file? I'm not

[2018-06-26 00:00] domenkozar commented on #17
@srghma I've added a description, I hope motivation is clearer now.

[2018-06-26 09:04] edolstra commented on #55
Note that in my experience, zstd and brotli don't compress binaries better than xz.

Nix does already support brotli compression (e.g. `nix copy --to file:///bla?compression=br`). Unfortunately, the default compression quality (11) makes it superslow, about 10x slower than xz -6 (with a worse compression ratio). OTOH with quality 6 it's 6x faster than xz -6. So we really should have a setting in N

[2018-06-26 18:48] domenkozar commented on #74
It does. But you could still modify it to import another file. In essence, I think that cachix.dhall contains only sensitive information: auth token, secret keys and what caches you control.

[2018-06-26 19:48] dtzWill opened #77 "Retry transient HTTP errors"
Looks like some transient error--perhaps if this is common/expected cachix can automatically handle retrying internally? Dunno.

[code]

store path of cachix used, FWIW: `/nix/store/f1h61j4b01ya3rqpqrmh2z6m4haf0rak-cachix-0.1.0.0/bin/cachix` (which is valiid path on `https://cachix.cachix.org`)

[2018-06-26 21:02] chris-martin commented on #74
Okay, I don't think this is an issue, then!

[2018-06-26 21:02] #74 closed

[2018-06-27 13:53] dtzWill opened #78 "[feature request] upload derivation's references, all outputs?"
I'm finding myself often sending paths through something like:

[code]

I was wondering if this is something cachix maybe could do--but am unsure if it "should" and don't mean to distract from cachix's simple usage (strength) by suggesting adding flags for all the things :innocent: .

This pattern is useful to ensure everything needed to re-build the path is cached, which is also useful given the

[2018-06-27 15:02] domenkozar commented on #78
Duplicates https://github.com/cachix/cachix/issues/9

[2018-06-27 15:02] #78 closed

[2018-06-27 15:04] domenkozar commented on #9
@dtzWill what about `cachix push --build-dependencies`?

[2018-06-27 15:06] domenkozar commented on #77
Seems to be a transient 500 from S3 service at `Jun 26 19:45:20` UTC.

Yeah, cachix server and client should support retries for GET requests.

[2018-06-27 15:20] dtzWill commented on #9
(D'oh sorry for missing this issue!)

That sounds good to me! Would it be reasonable/possible to make it a config option? Not critical but while we're talking wish-list... :grin:

[2018-06-27 15:23] domenkozar commented on #9
Config will come with #14 :)

[2018-06-27 15:35] dtzWill commented on #9
FWIW I'm not sure including all build dependencies is quite the same, since build dependencies don't necessarily include the other outputs produced by the derivation that created the path in question--although the command in the issue description will do this (if fed a derivation, presumably obtained with `nix-store -q --deriver` as needed).

Perhaps it's just a minor terminology quibble but just

[2018-06-27 18:40] domenkozar commented on #77
@dtzWill I renamed the title to reflect what needs to be done rather the specific issue, hope you don't mind.

[2018-06-28 12:43] nh2 commented on #55
@edolstra That's correct, `xz` remains to have the best compression ratio (this is also stated in the [article](https://code.facebook.com/posts/1658392934479273/smaller-and-faster-data-compression-with-zstandard/) I linked). The idea is that it compresses a lot _faster_.

Here are some examples:

[code]

[code]

`zstd` is

* 7x faster than `gzip` while having the same output size
* 120x faster tha

[2018-06-28 13:20] nh2 commented on #56
@domenkozar Great, with that PR cachix no longer deletes my nix settings and adds itself correctly.

Only remaining weirdness:

* cachix reorders the lines in `nix.conf` when writing the file out (I don't know if order of lines matters in `nix.conf`)
* it does so in _reverse_ lexicographical order (that sounds like some cons (`:`) based parsing without final `reverse`)

[2018-06-29 09:08] domenkozar commented on #56
Not quite, it keeps the order but appends configured lines at the end (substitutes, public keys). This is due to the logic [here](https://github.com/cachix/cachix/blob/master/cachix/src/Cachix/Client/NixConf.hs#L60-L63) where it covers the use case of existing line or if it has to append one.

[2018-06-29 14:59] nh2 commented on #56
Ah I see, you are right.

[2018-06-30 10:54] domenkozar commented on #34
That should be easy to support (I've implemented public keys to be a list as an api and internally) from cachix side, but I don't think Nix handles it well yet. Needs to be investigated.

This is intentional because most derivations are not binary deterministic, so building a store paths results into different nars each time. The problem with that is that Nix will cache `narinfo` with signature an

[2018-06-30 10:58] domenkozar commented on #9
I agree, correct term is something like `realized build closure`. I'd like to avoid these complex terms if possible, maybe add something like `--full-closure` which would have docs to describe what it means? :)

[2018-06-30 11:00] domenkozar commented on #55
Cachix controls the compression level, so using `brotli --quality 4` would work instead of gzip, but I need to compare size ratios and compression+decompression speeds.

[2018-06-30 11:47] dtzWill commented on #9
That sounds pretty much perfect to me! :)

[2018-06-30 11:50] dtzWill commented on #34
Unless I'm missing something I definitely think Nix supports multiple signatures and has for some time.  IIRC `nix verify` has options to check for paths with at least n signatures and such. Will check shortly and follow-up if that's not correct.

[2018-06-30 13:01] dtzWill commented on #34
Copying a path from a local binary store seems to preserve all signatures, but if path is available in multiple places only the signatures from the substituter used are added.  Which seems reasonable.  `nix copy-sigs` can be used to grab signatures from one or more substituters, and handles the case where it's only valid on some of them nicely.

If you want to play with this, uploading a path to c

[2018-06-30 13:47] pjan commented on #9
Very much looking forward to this feature; rebuilding ghc for every new haskell project when using `nixpkgs-unstable` gets tiring very quickly ;-)

`--full-closure` (or even just `--full` for that matter) sounds perfect.

[2018-06-30 15:43] domenkozar commented on #75
This might be worse or better with https://github.com/cachix/cachix/pull/79

[2018-06-30 16:42] domenkozar commented on #75
Got a core dump:

[code]

[2018-06-30 17:03] domenkozar commented on #29
If more people notice this, please make a comment.

[2018-06-30 18:39] dtzWill opened #80 "Host build logs? :D"
Neat feature is the ability fetch logs from remote caches-- previously this could be done with the `log-servers` nix.conf setting (IIRC); as part of the great reworking for Nix 2.0 logs can now be fetched from the store providing the path! Which is convenient and makes more sense than a separate build log access method :).

Anyway, details about how to do this may not be documented but IIRC all th

[2018-07-01 12:28] domenkozar commented on #80
I'm definitely up for supporting this. Right now I'll prioritize a few things over it (like #60 #34, etc) but once it's a low hanging fruit it should be supported for cachix to be a good CI citizen :)

[2018-07-01 16:02] domenkozar commented on #14
Similar use case is hashbang scripts, cachix could provide a binary cache temporary only for the script being ran.

[2018-07-01 17:28] dtzWill opened #81 "license / copyright / redistribution "rights" ?"
* How to mitigate potential use of cachix as vector for "piracy" / "copyright infringment"
* When using `cachix push MYCACHIX -w`, it's easy to push paths that are possibly not "okay" to redistribute.  User error, but might be nice to "don't push unfree paths without a flag" or even to delete paths (which I believe there's already an issue for).  Would be a bit tied to a notion of "unfree" but jus

[2018-07-01 17:58] dtzWill opened #83 "idea: operate as nix plugin?"
I often find myself wanting to use cachix in a way more closely integrated with 'nix'.  Perhaps it would be beneficial/useful to explore providing a cachix Nix plugin to accomplish this?

Misc examples/ideas:

* use nix.conf for settings ? But then it's not dhall :(.
* use Nix's 2.0 "progress bar" prettiness
* interop with nix commands such as `nix copy` (maybe a cachix URI, so: `nix copy bash --t

[2018-07-01 18:31] domenkozar commented on #83
Hey @dtzWill :)

1) Given I've written a parser for nix.conf I really dislike how simple yet fragile custom configuration file is, I'd prefer configuration to be typed with Dhall :)
2) There's #3 to implement that, I think Nix progress bar is too terse (ironically given to output Nix 1.0 had), so we'll see if we can come up with something in the middle
3) to support `nix copy` I just need to write

[2018-07-01 18:52] domenkozar commented on #26
It's now released to https://hackage.haskell.org/package/cachix and once it hits nixpkgs this issue will be resolved.

[2018-07-01 18:52] domenkozar commented on #13
https://hackage.haskell.org/package/cachix

[2018-07-01 18:52] #13 closed

[2018-07-01 19:16] domenkozar opened #85 "Guix support"
I'm opening this issue for interest around supporting Guix.

@mbakke has raised interest for Chromium package

[2018-07-01 19:37] dtzWill commented on #83
Thanks for the quick response! Haha sounds like there's not much to be done here, thanks for considering the idea!

[2018-07-01 19:37] #83 closed

[2018-07-02 01:15] srid commented on #26
Adding `nix.trustedUsers = [ "root" "myuser" ];` does get rid of the warning, but it has no desired effect; the whole thing is still being built from source.

[2018-07-02 19:56] domenkozar opened #88 "Add option to not store secret file into ~/.config/cachix/cachix.dhall"
As requested in https://github.com/cachix/feedback/issues/3

[2018-07-02 19:57] domenkozar opened #89 "Password manager support"
Instead of storing secret key into ~/.config/cachix/cachix.dhall, Cachix could integrate with password managers.

Requested in https://github.com/cachix/feedback/issues/3

[2018-07-02 22:10] Zimmi48 commented on #89
I'm especially interested in support for `pass` since this is the password manager I use. Generally speaking, integration with command-line password managers should be quite doable.

[2018-07-02 23:59] DanBurton commented on #26
I ran into the same issue.

Putting together the pieces from this thread, the following workaround did allow the cache to be used for me on OSX:

[code]

[2018-07-04 12:16] Infinisil opened #91 "Improve experience on NixOS"
Currently running `cachix use` on NixOS causes it to output a message like this:
[code]

Which isn't very nice, especially since you can't just copy paste it into your configuration.nix when you have some caches already.

My suggestion: Cachix should store each cache you `use`, and regenerate a NixOS module (e.g. in `.cache/cachix/module.nix` each time consisting of `nix.{binaryCaches,binaryCacheP

[2018-07-05 02:19] DanBurton opened #93 "cachix-0.1.0.0 build failure with fsnotify-0.3"
As seen on the Stackage build server:

[code]

[2018-07-05 03:15] DanBurton commented on #93
I was able to reproduce this locally like so:

[code]

[2018-07-05 09:23] #93 closed

[2018-07-07 20:14] jezen commented on #14
I was going to open a new issue for this question, but it seems somewhat relevant to this thread.

I manage a few different Haskell projects. Many of the dependencies are shared. Should each project have its own binary cache? Or should I have a general binary cache — like `cachix create jezen` or something — and use that all the time?

[2018-07-08 16:17] domenkozar opened #96 "UX: verify that signing key works for the given cache before pushing"

[2018-07-08 16:45] domenkozar opened #97 "Get rid of unneeded dependencies in favor of cryptonite"
Following could be removed:

- [ ] ed25519
- [ ] base16-bytestring

Instead use `convertToBase` from `memory` package

[2018-07-11 10:56] jezen opened #100 "How do I use Cachix with a remote builder and nixops?"
I am developing on MacOS, and building for NixOps/AWS deployments with a NixOS Docker machine, as described [here](https://medium.com/@zw3rk/provisioning-a-nixos-server-from-macos-d36055afc4ad).

How do I push those Linux-built packages to Cachix?

[2018-07-11 21:44] domenkozar commented on #75
So I've managed to write minimal reproducable test case:

[code]

If I compile this and run it like so I can reproduce:

[code]
It segfaults consistently on nixpkgs commit d3a63b2b788aa2c9f5436953e7678032949240f2, but upgrading to 1539167d215841a966b8395c1025d66812d63d31 there's no more segfault.

In between those two commits, LTS was bumped so my assumption is that GHC 8.4.x fixes some SIGINT han

[2018-07-11 21:44] #75 closed

[2018-07-16 00:37] domenkozar commented on #9
For security reasons I'd like to do the following (leave sources out, except for fixed output derivations):

[code]

This is essentially a cached deployment without derivation files and local paths.

How does this sound?

[2018-07-16 00:48] domenkozar commented on #3
For pushing paths http://hackage.haskell.org/package/concurrent-output looks interesting

[2018-07-16 05:17] #32 closed

[2018-07-17 18:14] cmditch commented on #26
Following the steps above @DanBurton, but encountering this error. Any thoughts?
[code]
This is what my nix.conf looks like:
[code]

Thanks

[2018-07-17 19:06] domenkozar commented on #100
@jezen pushing whole machines is tricky since you're also pushing potentially passwords, etc. Are those for experiments?

You can pass `--build-only` to nixops and the last path to build should be the one that contains all closures of the machines, pipe that one to cachix.

[2018-07-19 02:39] nh2 opened #101 "Idea for cachix.org: Publicly stated trust and trust-as-a-service"
Right now you have to 100% trust the user that uploads binaries to cachix.

Reading the source of a derivation isn't enoug: If the uploader was evil and managed to convince you to use their cache, then they could put all kind of nastiness into your binaries.

It would be cool if cachix (the service) could have some form of public attestation, where other users can say "I have built these derivatio

[2018-07-20 18:38] jezen commented on #100
@domenkozar I think it's not the machine that I want to push to Cachix, but instead I want to push all the project's Haskell dependencies (like GHC) which take a long time to build.

[2018-07-21 10:31] jezen commented on #100
@domenkozar After thinking about this some more, I feel I should clarify that the paths I want to push to Cachix are not the ones in my host machine's (MacOS) nix store, but the ones in the remote build machine's (NixOS on Docker) nix store.

[2018-07-21 12:39] jezen commented on #100
Ok, I figured this out. It turns out I can do the same trick as described [here](https://github.com/cachix/cachix/issues/52).

I created a file like this:

[code]

My pinned nixpkgs is here:

[code]
To push my Haskell dependencies to Cachix, I ran:

[code]

[2018-07-21 12:39] #100 closed

[2018-07-21 13:09] domenkozar commented on #100
Glad you solved it :)

[2018-07-21 18:12] domenkozar commented on #5
Merging into #14

[2018-07-21 18:12] #5 closed

[2018-07-21 18:17] domenkozar commented on #56
for b) cachix could use test at https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/nix/info/multiuser.nix to see if Nix should even work.

[2018-07-21 18:18] #67 closed

[2018-07-21 18:21] domenkozar commented on #26
Note that this was fixed two weeks ago with the release of https://www.stackage.org/lts-12.0, but there are no macos binaries in nixpkgs due to https://github.com/NixOS/nixpkgs/issues/41340.

[2018-07-25 11:10] domenkozar opened #106 ""New version" warning"
The client could query `https://cachix.org/api/v1/update` and supply it's version to check if new version is out there.

[2018-07-31 07:50] domenkozar commented on #52
In that case doing just `nix-shell shell.nix` should suffice.

[2018-08-01 07:59] lukego opened #109 "error: unknown flag '--substituters'"
I'm trying to install cachix with Nix 1.11.2 and I'm seeing this error when following the README:

[code]

Tips?

[2018-08-01 08:12] domenkozar commented on #109
Need to change Readme to suggest stable version: `nix-env -iA cachix -f https://github.com/NixOS/nixpkgs/tarball/db557aab7b690f5e0e3348459f2e4dc8fd0d9298`

[2018-08-01 09:34] edude03 commented on #52
@domenkozar hmm, I'm not sure we're on the same page, if I take the exact shell source from my example and put it in `shell.nix` and run `nix build -f shell.nix` I get

[code]
Are nix-shell's not supposed to use `stdenv.mkderivation`?

[2018-08-01 09:36] edude03 commented on #52
Ah! Thanks! I see

[2018-08-01 11:11] domenkozar commented on #109
@lukego ah, you're probably looking for Nix 1.0 support.

[code]

Unfortunately you'll have to compile it yourself until it reaches nixpkgs. I'll try to make a release today.

[2018-08-02 00:43] puffnfresh opened #110 "Multiple users"
I'd like to enable a few of my team members to use their authTokens to push to a Cachix cache that I created. I don't want to share my `authToken` since it's tied to my account which has personal Cachix projects on it.

[2018-08-02 00:45] puffnfresh commented on #110
I just updated Cachix and now see instructions that each cache has its own secret key. Awesome!!

[2018-08-02 00:45] #110 closed

[2018-08-03 20:50] 2mol opened #112 "error on mac with `nix-env: readCreateProcessWithExitCode`"
Hello! I get all the way through to `cachix create <name>`. However, past that, `cachix use` or `nix-build | cachix push <name>` both fail with

[code]

Please let me know how I can give you a better log or more verbose information.

`cachix -V` is 0.1.0.2

[2018-08-03 20:54] domenkozar commented on #112
Hi @2mol

Could you do `ls -la /nix` and tell me under what user you're running cachix?

[2018-08-04 10:00] 2mol commented on #112
Of course! The `/nix` directory contents are

[code]

I'm running cachix as a normal user (so not root).

[2018-08-04 18:12] chris-martin commented on #16
I think I'd be utilizing cachix a lot more if we had this feature. I'd like to build NixOS on my desktop, push to cachix, then build on my laptop, so that the laptop doesn't have to rebuild any of my non-standard packages. But in practice right now this doesn't actually save me any time, because it takes me quite a while (I don't know, maybe an hour?) to push my NixOS build to cachix -- which is s

[2018-08-04 23:11] domenkozar commented on #112
@2mol if you can't even use nix-build, you probably just need to restart terminal for nix to be setup.

[2018-08-05 09:13] 2mol commented on #112
Unfortunately not, `nix-build` works! Is there some other way I can give you more information on `cachix push`?

[2018-08-05 12:43] 2mol commented on #112
To clarify: `nix-build | cachix push <name>` is what doesn't work, in isolation `nix-build` works.

The version is `nix-env (Nix) 2.0.4`.

When I run `cachix use juri` for example, I get the abovementioned error. (`cachix use` in and of itself prints the help text screen, no crash).

[2018-08-05 12:49] domenkozar commented on #112
Ah I see now :) That's really strange, since cachix basically calls `nix-env --version`. What is the output of `which nix-env`?

[2018-08-05 12:54] 2mol commented on #112
Oh, so here we get into weird mac (or bourne-shell) territory. I consider `which` on a mac to be basically completely broken. So `which nix-env` doesn't return anything. See here for a detailed explanation: https://unix.stackexchange.com/questions/85249/why-not-use-which-what-to-use-then

On the other hand, `type -a nix-env` returns `nix-env is /Users/juri/.nix-profile/bin/nix-env`.

[2018-08-05 13:05] domenkozar commented on #112
Ok, something is strange when it comes to $PATH lookups. Can you try:

``
nix-shell -p "haskell.packages.ghc822.ghcWithPackages (pkgs: with pkgs; [process])" --run "printf 'import System.Process ( readProcessWithExitCode )\n\nmain = readProcessWithExitCode \"nix-env\" [\"--version\"] mempty >>= print' | runghc"
[code]

[2018-08-05 13:27] domenkozar commented on #16
I wouldn't recommend pushing laptop paths that include also passwords and such to a public cache. Although it's obscured by someone needing to know the hash, if you post it somewhere by accident, they could get your `/etc/passwd` for example.

About the upstream binary cache: I think this would be set as a property to a binary cache where by default it would be cache.nixos.org, but one could remov

[2018-08-05 13:34] 2mol commented on #112
Ok, getting closer hopefully :) Thanks for your patience.

Last line is

[code]

[2018-08-05 13:41] domenkozar commented on #112
I've just tested on another macos and this works. Your setup seems to be special in some way, do you have a different shell? Maybe run `sh --version`

[2018-08-05 13:46] 2mol commented on #112
Strange. I mean, I can't guarantee that it's _not_ special after 5 years of using my laptop, but not that I know of. I had trouble installing nix though, so maybe that's related. If it works on another mac, then feel free to close the issue as a "can't reproduce"! I'll keep poking around.

`sh --version` is

[code]

[2018-08-05 18:04] chris-martin commented on #16
I've set my user passwords with `passwd` and don't have any secrets in the NixOS configuration. So that shouldn't be a concern, right?

[2018-08-05 18:24] domenkozar commented on #16
Some Nix modules store secrets in Nix store, it depends on per use case. It's generally bad practice, but you do find it in the wild.

[2018-08-05 18:29] domenkozar commented on #112
Could you in that case try reinstalling Nix and paste issues you encounter?

[2018-08-05 18:50] 2mol commented on #112
You're in luck, I managed to abuse my system to the point where I'll now have to wipe the OS and install even that from scratch :D So we'll get a clean-slate experiment.

I can of course paste nix issues here (and I'm super grateful for the help) but I guess those belong more on the nix issue tracker. There are already a couple of macOS install issues open there :)

[2018-08-09 17:12] domenkozar commented on #109
Please reopen if you get another error :)

[2018-08-09 17:12] #109 closed

[2018-08-11 20:28] PierreR opened #114 "How to use cachix as an anonymous user (without any authtoken)"
I am trying to `cachix use cicd-shell -n` on a different machine than the one used to build the cache.

I am on nixos and cachix 0.1.0.2

Building on one machine works fine, pushing works and the cache also works with `cache use cicd-shell` or `cache use cicd-shell -n`.  I can easily check this by removing the creating derivation from the store and building it again.

Then I go in another nixos ma

[2018-08-11 23:10] PierreR commented on #114
Well it works now ... Probably need #105

[2018-08-11 23:10] #114 closed

[2018-08-14 11:45] domenkozar commented on #34
What worries me here is how does Nix handle verification? All signatures need to be valid? If so, then let's say someone uploads already signed nars, users of that cache most probably won't have the public keys and cachix won't provide them a way to retrieve them.

Seems like Nix should in that case require 1 public key to be set, but verify using all that are set.

[2018-08-14 17:03] domenkozar commented on #91
Could use [!include](https://nixos.org/nix/manual/#description-41) setting and just separate file for all caches

[2018-08-14 17:22] domenkozar opened #116 "Improve order of looking up existing narinfo"
As per @roberth,

https://github.com/cachix/cachix/blob/7dad39d28a0b79424233f909bac5aee23adfdc29/cachix/src/Cachix/Client/Commands.hs#L178

Note: there should still be a flag to sync whole derivation, because nothing guarantees for someone to push a dependency to cachix without first including it's parents.

[2018-08-22 17:21] philderbeast opened #117 "Is cachix.org down?"
I'm trying to compile the [vector](https://github.com/tweag/rules_haskell_examples/tree/master/vector) package using bazel but his is taking a while.

[code]

Is cachix.org down? I'd signed up a few days ago but not yet done anything more with it than follow the registration instructions.

[2018-08-22 17:28] philderbeast commented on #117
When browsing to https://cachix.org, I see;

[code]

[2018-08-22 17:37] dtzWill commented on #117
I'm seeing errors pushing to cachix saying "Origin Connection Time-Out" and given the timing seems likely same issue and that they're changing something or having some problem.  But it's not just you! :)

[2018-08-22 17:40] philderbeast commented on #117
Good to know thanks @dtzWill.

[2018-08-22 17:45] madnight commented on #117
same problem over here, i try to contact the author via irc

[2018-08-22 17:53] chessai commented on #117
Yeah, I just noticed this as well. I contacted @domenkozar on twitter

[2018-08-22 18:10] chessai commented on #117
you can temporarily run nix-build with `--option substituters "urls"`, where `urls` is whatever is currently in your substituters in nix.conf minus any cachix urls

[2018-08-22 21:25] domenkozar commented on #117
Hey all, it seems like networking was down for 2 hours, I'll do an investigation and report back tomorrow. All good now?

[2018-08-22 21:28] philderbeast commented on #117
Good here.

[2018-08-22 21:42] chessai commented on #117
Good here as well.

[2018-08-23 07:34] PierreR commented on #117
This network issue has been a realization that my system configuration is weak. I could not even do any `nix-build` on my development box.

Here is a link to the configuration : https://github.com/CIRB/devbox/blob/master/system/configuration.nix#L31-L40

What should I do to make the system more resilient in case cachix is down ?

[2018-08-23 12:14] chessai commented on #117
@PierreR, I think it's a bug in nix, which is supposed to move on from substituters it cant reach.

[2018-08-23 20:16] domenkozar commented on #117
It was down again for last 15minutes, I'll still trying to get the root of the cause, but getting closer. Seems to be some sort of space leak, eating up all memory.

[2018-08-25 21:17] domenkozar commented on #29
I didn't see this happen since then. If it does for you, please also attach`cachix --version`.

[2018-08-25 21:17] #29 closed

[2018-08-30 16:51] dtzWill opened #120 "narinfo corrupt?"
Path in question: https://allvm.cachix.org/rcdwq1bsh5lwbvcm6x01fxx5nph90nc6.narinfo

For example:

[code]

The path is apparently a git clone of my [NUR repo](https://github.com/dtzWill/nur-packages) FWIW.

Which is problematic for a few reasons:

* How does a corrupt narinfo get created/uploaded? Should this be checked server-side?
* How can I fix this? Did I cause it? I had to disable use of the

[2018-08-30 17:00] domenkozar commented on #120
Looking into it.

[2018-08-30 17:13] domenkozar commented on #120
@dtzWill do you have this store path around? Can you run `nix-store --dump /nix/store/rcdwq1bsh5lwbvcm6x01fxx5nph90nc6-source|wc -c`

[2018-08-30 17:14] domenkozar commented on #120
Signature is calculated and verified. Maybe Nix doesn't accept files that have narSize of 0. Let's first verify that uploaded file is the right one.

[2018-08-30 17:31] domenkozar commented on #120
For reference I'll post narinfo here:

[code]

[2018-08-30 17:39] domenkozar commented on #120
@dtzWill you're probably right, a few exit codes are not checked atm: https://github.com/cachix/cachix/blob/93e559ee98489c39dc2738b749080149c7bc21ed/cachix/src/Cachix/Client/Commands.hs#L238

[2018-08-30 17:48] domenkozar commented on #120
Deleted all 19 narinfos with 0 narSize.

[2018-08-31 13:21] mightybyte opened #122 "cachix push --watch-store doesn't work on macOS"
I haven't directly verified this with the `cachix push` command itself because that's more involved, but I used fsnotify the same way you did to watch and react to nix store modifications and it didn't work.  I tried quite a few different combinations of ways of using the library, and none of them worked, so I'm hypothesizing that it's broken for you as well.

[2018-08-31 16:35] domenkozar commented on #120
Cachix will now check narSize (once released) and server side also now errors out. What's missing here is proper exit code handling.

[2018-09-02 16:10] domenkozar opened #124 "Rename NarInfoC to StoreHash and NarC to NarHash"

[2018-09-02 18:53] domenkozar commented on #122
I'll have access to macos machine on 11th September and will reproduce then.

[2018-09-04 16:17] #120 closed

[2018-09-05 08:11] domenkozar commented on #117
https://domenkozar.com/2018/09/04/recent-cachix-downtime/

[2018-09-05 08:11] #117 closed

[2018-09-10 21:29] PierreR opened #125 "[Help request] Minimize the size of the nar files"
I would like to push a build of `taffybar-3.0.0` compiled with `ghc-8.2.2` into cachix (the current version in nixpkgs unstable is built with ghc-8.4 and is broken).

I am just a bit worried about the size of the closure which is about 4G (`nix copy --to`).

Is there a way to minimize the size of what is going to be pushed to a cachix cache ?

Here is a link to the relevant commit: https://github.

[2018-09-10 21:40] domenkozar commented on #20
Exactly.

[2018-09-11 14:01] domenkozar commented on #125
You can use `justStaticExecutables` combinator if you'd like to only get binaries.

[2018-09-11 14:13] PierreR commented on #125
In this particular case the haskell configuration is loaded dynamically by `dyre` . The wrapper is doing`--set NIX_GHC "${ghcWithTaffybar}/bin/ghc"`.
In this particular case, I guess using `justStaticExecutables` won't help ?

[2018-09-11 18:44] PierreR commented on #125
Thanks for your feedback

[2018-09-11 18:44] #125 closed

[2018-09-21 05:24] 7c6f434c opened #126 "One-shot use: output nix-store options"
Sometimes I want just a single path from a Cachix cache without a plan to use Cachix by default.

In such a case it would be nice to say something like `cachix use cache-name --one-shot` and get the output like:
[code]

Also, both `--nixos` and `--one-shot` could be mentioned by `--help`…

My personal interest is related to having `nix.conf` as a symlink to store on a not-literally-NixOS system.

[2018-09-21 10:34] domenkozar commented on #126
@7c6f434c would this be similar to https://github.com/cachix/cachix/issues/14 - where you'd use cachix <name> only for specific project?

[2018-09-21 10:43] 7c6f434c commented on #126
Probably yes, but hopefully cheaper to implement and maybe a bit more straightforward for use in wrapper scripts.

[2018-09-23 14:53] domenkozar commented on #56
Yeah, the warning is confusing, it should at the very least come in opposite order :)

[2018-09-23 15:35] nh2 opened #127 "Does cachix upload the full cache deployment?"
Part of `man nix-store`, see the notion of `cache deployment` being `nix-store -qR --include-outputs`:

[code]

Does cachix currently use this?

I found that in order to get truly all dependencies (run-time and build-time) of a built nix path (what `nix-build` outputs) uploaded, I have to use:

[code]

And then do `all-nix-deps $(nix build mything) | cachix push <mycache>`.

Should cachix do the s

[2018-09-23 17:33] domenkozar commented on #127
Duplicates #9 :)

[2018-09-23 17:33] #127 closed

[2018-09-23 19:06] domenkozar commented on #47
Most probably depends on https://github.com/haskell-nix/hnix-store/issues/26 to make sure this is really a performance improvement.

[2018-09-23 21:51] nh2 commented on #127
Ah, right.

[2018-09-24 10:52] domenkozar opened #129 "if cachix signing key is not present, improve error message"
Source: https://github.com/cachix/cachix/pull/128

[2018-09-24 16:37] domenkozar commented on #126
Sounds reasonable. About naming, I was thinking: `--print-nixos` and `--print-nix`.

[2018-09-24 16:41] 7c6f434c commented on #126
I have no objections about naming if `--help` lists these flags.

[2018-09-24 16:49] domenkozar commented on #126
It does list existing `--nixos`:

[code]

[2018-09-24 17:44] 7c6f434c commented on #126
Oh right, subcommands have their own help entries.

Interesting that `--host` is listed for `cachix --help` but not `cachix use --help`. And in `cachix --help` there are two conflicting interpretations of `-h`.

[2018-09-24 17:48] domenkozar commented on #126
Yes it's confusing, `--help` on top-level command lists global options and those are not repeated for each subcommand, which lists options only for itself.

[2018-09-24 17:52] roberth commented on #126
That's [an issue in optparse-applicative](https://github.com/pcapriotti/optparse-applicative/issues/294)

[2018-09-24 18:13] domenkozar commented on #126
And the other issue is https://github.com/pcapriotti/optparse-applicative/issues/175

[2018-09-25 15:21] domenkozar opened #131 "NarSizeIsZero if there is an redirect on /nar endpoint"
Happens if you do `--host http://cachix.org` (skip https).

[2018-09-25 16:58] domenkozar commented on #122
@mightybyte https://travis-ci.com/cachix/cachix/jobs/147842771 proves that it does work at least on travis. Could be an issue with some settings or just macOS verison?

[2018-09-25 17:06] domenkozar commented on #56
BTW, warning should have been fixed in https://github.com/cachix/cachix/commit/cefc4df86ac256a8141ec35d5212c627f063e14c

[2018-09-26 20:38] kreisys opened #134 "Broken on macOS mojave"
Hello,
Since I updated my macOS installation I've been getting this when trying to push:

[code]

[2018-09-26 23:00] domenkozar commented on #134
Hi @kreisys,

if you upgraded macOS you'll need to reinstall Nix and install cachix from latest version.

[2018-09-26 23:57] kreisys commented on #134
I've already reinstalled Nix. What do you mean by latest? I followed the instructions on cachix.org... am I missing anything?

[2018-09-27 09:01] domenkozar commented on #134
@kreisys you're right. Could you try with:

[code]

[2018-09-27 10:57] kreisys commented on #134
Same

[2018-09-27 11:05] domenkozar commented on #134
I find that confusing, as the bug was fixed in https://github.com/NixOS/nixpkgs/pull/43140

Could you please post full traceback again with the new cachix?

[2018-09-27 12:05] kreisys commented on #134
It's exactly the same:

[code]

[2018-09-27 17:08] domenkozar commented on #134
See upstream https://github.com/NixOS/nixpkgs/issues/45042

[2018-09-27 17:56] domenkozar commented on #3
Some good feedback in https://github.com/cachix/cachix/issues/126#issuecomment-424042513

[2018-09-28 15:32] domenkozar commented on #134
Not yet, that's what https://github.com/cachix/cachix/issues/60 tracks.

[2018-10-01 15:36] idontgetoutmuch opened #136 "error: imported archive of ‘/nix/store/...148’ lacks a signature"
[code]

[code]

[2018-10-01 15:44] domenkozar commented on #136
Did you upgrade from Nix 1.0? You need to restart the daemon.

[2018-10-01 16:57] idontgetoutmuch commented on #136
[code]

[2018-10-02 14:32] idontgetoutmuch commented on #136
This worked:

[code]

Thanks to Graham :)

[2018-10-02 14:32] #136 closed

[2018-10-02 17:37] idontgetoutmuch opened #137 "FatalError parsing nix.conf"
[code]

[2018-10-02 17:44] idontgetoutmuch commented on #137
[code]

[2018-10-02 21:02] idontgetoutmuch commented on #137
I added a new line and then all was well

[2018-10-02 21:31] domenkozar commented on #137
Will fix the parser, thanks.

[2018-10-03 10:33] domenkozar commented on #134
@kreisys could you try `nix-env -iA cachix -f https://github.com/NixOS/nixpkgs/tarball/79bbe4d54399923f732c259427c4593f94a45297`

[2018-10-03 14:05] #137 closed

[2018-10-03 14:39] kreisys commented on #134
Working! 👍

[2018-10-03 15:09] pjones opened #139 "Use extra-substituters instead of substituters"
Cachix inserted itself in the `substituters` key inside `/etc/nix/nix.conf`.  This prevents `nixos-rebuild` and other builds from using the default binary cache.

Instead, cachix should use the `extra-substituters` key.

[2018-10-03 16:19] domenkozar commented on #139
It should also set https://cache.nixos.org - but this was broken before 0.1.2 :)

[2018-10-05 09:55] domenkozar commented on #134
Latest stable links for cachix now include support for `mojave` and ship Cachix 0.1.2.

Thanks for the report :)

[2018-10-05 09:55] #134 closed

[2018-10-07 20:28] domenkozar commented on #139
I don't think we should change it now, it would be too much code keeping legacy configuration files sane.

But gist of your issue should have been fixed by giving the correct instructions.

[2018-10-08 16:03] pjones commented on #139
I agree.  This is mostly my fault.  I added the configuration that cachix recommended to a custom NixOS module and didn't expect it to affect the system default.  That was a bit stupid.

[2018-10-08 16:03] #139 closed

[2018-10-09 18:47] toraritte commented on #32
So this the perfect example of what I had in mind in this issue:
https://coq.cachix.org/

Thanks again!

[2018-10-18 08:54] boomshroom opened #143 "Secret Key on Multiple Machines"
I use Nix on both my desktop and my laptop and often like having my laptop piggyback off my desktop. That said, if I do something on my laptop, I like for it to carry over back to my desktop.

At the moment, it seams that I can only push to cachix from my desktop without simply copying over the cachix.dhall. It would be nice to have a way to add a second machine to my cache though the interface, o

[2018-10-23 20:09] chessai opened #144 "How can users donate to this project?"
I imagine this is pretty expensive to maintain. Is it possible to donate?

[2018-10-25 13:29] michaelpj opened #145 "Modify `~/.config/nix/nix.conf` for trusted users?"
If you're a trusted user it might be nicer to modify the user-local config file. This would also have a better workflow on NixOS without needing to do the things suggested by https://github.com/cachix/cachix/issues/91.

[2018-10-30 18:10] domenkozar commented on #144
Hi @chessai,

I plan to make cachix sustainable by offering authenticated binary caches a paid feature. I do not accept donations, but a paid plan will provide also additional features and be the way to support development.

I hope this answers your question :)

[2018-10-30 18:10] #144 closed

[2018-10-30 18:12] domenkozar commented on #145
What version of Nix are you using? That should already be the case unless your Nix version is too old: https://github.com/cachix/cachix/blob/master/cachix/src/Cachix/Client/InstallationMode.hs#L49

[2018-10-30 18:36] chessai commented on #144
@domenkozar thanks!

[2018-11-02 12:01] domenkozar commented on #145
It should have warned you that groups are not supported yet, did you get the warning?

[2018-11-02 12:36] michaelpj commented on #145
Yes, but I thought it related to the content of the snippet, which also said to add myself as a trusted user (which I obviously don't need to). So I didn't realise it also affected whether it edited the local config.

Anyway, sounds like this is just another instance of the groups issue.

[2018-11-02 12:36] #145 closed

[2018-11-03 06:26] colemickens opened #146 "Key Rotation?"
I had assumed, until moments ago, that Cachix was either signing server side, or was keeping a copy of my signing key. I'm realizing now, that's probablt not be the case.

Initially I was curious about loss of the signing key, but really in general, key rotation is probably a desirable feature. Is there was a mitigation for losing the primary signing key at the moment, or not? (Can we delete our c

[2018-11-05 20:00] coot opened #147 "bad archive"
Is there a way to re-upload or remove a bad archive, I am getting this error while building using `cachix`:
[code]

[2018-11-05 21:38] domenkozar commented on #147
@coot removed from your cache.

[2018-11-05 21:51] coot commented on #147
thanks @domenkozar

[2018-11-05 21:53] domenkozar commented on #147
I haven't verified yet, but I think the problem is that stream end prematurely and conduit just finishes without an error. Not sure how to address this yet, but I'll prioritize it.

[2018-11-05 23:46] dtzWill commented on #147
I think when I encountered this it's possible (likely even) I killed the client mid-upload.  Story fits, for whatever it's worth :).

[2018-11-06 00:23] colemickens opened #148 "`cachix use` complains about /etc/nix if it doesn't exist"
I'm testing out some stuff with Nix on Ubuntu and noticed this:

[code]

I guess I hadn't realized that it seemed to have succeeded, it seemed quite upset about not being able to create/modify `/etc/nix` stuff.

[2018-11-06 09:17] domenkozar commented on #147
@coot could you run `cachix --version` on the machine this nar was uploaded from?

[2018-11-06 09:18] domenkozar commented on #134
@epicallan try `nix-env -iA cachix -f https://github.com/NixOS/nixpkgs/tarball/889c72032f8595fcd7542c6032c208f6b8033db6`

[2018-11-06 11:51] epicallan commented on #134
Sadly still not working @domenkozar
[code]

[2018-11-06 11:54] domenkozar commented on #134
That means it works, as it's just a warning. See https://github.com/cachix/cachix/issues/148

[2018-11-06 11:56] domenkozar commented on #148
I agree, something that needs at the very least a clear message of intent.

[2018-11-06 11:59] epicallan commented on #134
Seen, thanks!

[2018-11-06 17:09] domenkozar commented on #147
I fixed one potential bug in 0.1.2, but it could be there's another source. Going to wait on another report that confirms it's reproducible with 0.1.2. Thanks!

[2018-11-07 22:12] ariutta commented on #148
Is Cachix intended to be used with multi-user Nix installations on non-NixOS systems?

[2018-11-07 22:14] ariutta commented on #148
Related: #56

[2018-11-09 13:29] domenkozar commented on #147
Going to close this and keep an eye on more reports.

[2018-11-09 13:29] #147 closed

[2018-11-13 18:50] dtzWill commented on #55
If there is still interest in nix-level support I can revive the PR's
for adding zstd support and for setting compression level via store URI.

They worked well AFAIK but as I recall need some minor reworking to be
compatible with latest Nix.  That said they're nothing magical so
tackling them fresh might be the same amount of effort :).

~Will

On Mon, 12 Nov 2018 09:25:22 -0800, Domen Kožar <not

[2018-11-14 21:20] domenkozar commented on #3
https://hackage.haskell.org/package/text-ansi-0.1.0/docs/Data-Text-ANSI.html

[2018-11-25 12:58] domenkozar commented on #53
I've looked into this today. Turns out we can't just use `mask_` as Async doesn't trigger `UserInterrupt` exception inside the threads. I need to research if this is even possible with `async` package.

[2018-11-25 13:02] domenkozar commented on #143
Agreed, sharing secrets should be simpler.

[2018-11-25 13:06] domenkozar commented on #116
We should probably just implement "mass querying" using one HTTP request.

[2018-11-25 13:19] domenkozar commented on #53
I've opened the issue on async package: https://github.com/simonmar/async/issues/91

[2018-11-25 13:40] domenkozar commented on #122
@mightybyte if you have a few minutes ping me and I'll be gladly to help here and come to the bottom of this.

[2018-11-25 13:43] domenkozar commented on #131
Should be solved with Servant 0.15 streaming client.

[2018-11-25 19:49] domenkozar commented on #34
Thanks to @infinisil: `nix path-info --sigs`.

[2018-11-26 13:28] #148 closed, assigned to nobody

[2018-11-26 16:07] #77 closed

[2018-11-26 17:23] domenkozar commented on #53
Seems like with some signaling between main thread and workers, we can use http://hackage.haskell.org/package/async-pool

[2018-11-26 17:34] domenkozar commented on #148
@ariutta yes, do you have an issue?

[2018-11-26 17:59] roberth commented on #53
*Re: signaling*
Here's [my idea](https://gist.github.com/roberth/7f5fae2178e7574eb7dcdd0dc6e32246). Should compose nicely with `async` or other concurrency stuff.
Untested, but typechecked :)

[2018-11-26 18:12] ariutta commented on #148
I had the same issue described here and thought maybe it's because I was using Nix on Ubuntu, not NixOS. But it sounds as if this issue is fixed now, thanks!

[2018-11-28 14:08] domenkozar commented on #131
Nope: https://github.com/haskell-servant/servant/issues/1091

[2018-12-05 11:56] davidak opened #157 "Fix ChangeLog formatting"
I noticed that the  version number formatting is broken.

https://github.com/cachix/cachix/blob/master/cachix/ChangeLog.md

Keep a Changelog uses links to github for the changes between tags. Either add those links or remove the `[]` from the version numbers.

See links at the end: https://raw.githubusercontent.com/olivierlacan/keep-a-changelog/master/CHANGELOG.md

You might also want to rename th

[2018-12-12 10:47] domenkozar opened #158 "Don't exit with non-zero on NixOS"
`cachix use <name>` should exit with 0.

[2018-12-12 10:55] roberth opened #159 "cachix use multiple arguments"
$ cachix use cachix coq
Invalid argument `coq'

[2018-12-12 10:56] roberth opened #160 "cachix use --module"
Like `cachix use --nixos` but more automation friendly by making it a proper module syntactically instead of a concatenation of attributes.

[2019-01-10 08:09] danbst opened #162 "Impact of Haskell on end users"
I don't think this is an issue of a great deal and major pain, but...

As this is Haskell package, it pulls ghc for building. What is exceptionally weird, is how much stuff it requires:

[code]
!!! 3.6 G is waiting for next GC. Yes, I understand this normally shouldn't happen (hydra should build it), maybe core problem why I see this is that `cachix` is broken in my nixpkgs checkout (yes, build fa

[2019-01-10 08:10] danbst commented on #162
btw, it failed with
[code]

[2019-01-10 09:22] domenkozar commented on #162
Don't use cachix from nixpkgs, Haskell set is not stable and I don't have control to keep it so.

The best way to install is via ` $ nix-env -iA cachix -f https://cachix.org/api/v1/install`.

For upstream see https://github.com/NixOS/nixpkgs/issues/52985

[2019-01-10 10:46] danbst commented on #162
alright O_o

[2019-01-10 10:46] #162 closed

[2019-01-10 12:56] domenkozar commented on #162
@danbst let me know if that addresses your concern, this is the best effort for now :)

[2019-01-10 13:45] danbst commented on #162
No, but I hope I'll never get into this issue again by using recommended installation method.

And also, it is `nixpkgs` issue. Maybe `cachix` should be marked as broken, or print assert on how to install cachix correctly. Also, all those -doc outputs shouldn't be used for builds.

[2019-01-25 07:49] domenkozar commented on #160
From #cachix:

[code]

[2019-01-30 03:22] bbigras opened #165 "can't run nix-channel --update when cachix is down"
I can't seem to be able to update my channels even if removed the nix stuff from configuration.nix.

Any way around that?

[code]

[2019-01-30 04:07] LightAndLight commented on #165
I have the same issue.

[2019-01-30 14:46] domenkozar commented on #165
I've opened upstream issue at https://github.com/NixOS/nix/issues/2661

Workaround would be to comment out substituters in ~/.config/nix/nix.conf temporarily.

[2019-01-30 15:31] bbigras commented on #165
One weird thing is that I'm pretty sure I didn't have the `~/.config/nix/nix.conf` file. I guess it must be related to me using the [nixpkgs-wayland](https://github.com/colemickens/nixpkgs-wayland) overlay in configuration.nix.

[2019-01-31 07:50] domenkozar commented on #165
Yes, on NixOS uncomment nix.binaryCaches.

[2019-01-31 07:50] #165 closed

[2019-02-10 09:22] jorge-jbs opened #166 "Remind to run nixos-rebuild in use command"
I am a new user of this program (and recent user of NixOS) and after calling `cachix use ...` I copy pasted the output to configuration.nix but forgot to run `nixos-rebuild`. I spent quite a lot of time figuring why it wasn't working. I think it would be a nice UX improvement to remind to run `nixos-rebuild` after adding the lines, just like people in the debian world remind to run `apt update` be

[2019-02-11 11:57] domenkozar commented on #166
Thanks @jorge-jbs, I'll add this as part of #158 and #160

[2019-02-12 12:49] smaret opened #167 "Signing key error on macOS"
I'm trying to push a binary to my newly created account on cachix, but I get the following error:

[code]

I've set cachix up following the instructions on the webpage. I do have a `~/.config/cachix/cachix.dhall`  in my home directory that contains my secret key, so I don't understand why I get this error message.

How can I fix this?

[2019-02-14 01:59] bbarker commented on #117
Possibly related, seems to be down again. Not opening a new issue for it though: https://cachix.org/api/v1/login reports 502 (bad gateway) for last few minutes while trying.

[2019-02-14 02:02] bbarker commented on #117
@domenkozar briefly looked at your blog on this issue. Interesting stuff i should circle back to. Wondering if  you've thought of using bpftrace for Haskell. Might be too low level to be super useful, not sure. Appears to be supported on NixOS.

[2019-02-14 02:17] domenkozar commented on #117
Thanks @bbarker - this time I was running a migration script written in Haskell and it ate all memory. Will set up a bit more sophisticated setup to make sure http can't be bothered. Should be back up now.

[2019-02-14 02:32] domenkozar commented on #167
Does the secret key belong to `sundials2` binary cache? Maybe there are two secret keys?

[2019-02-15 09:01] domenkozar commented on #91
@Infinisil what if cachix wrote `/etc/nixos/cachix.nix` which would use `readDir` to load from `/etc/nixos/cachix/<name>.nix`?

[2019-02-15 10:08] FRidh commented on #91
Why not have the module point to a (default) JSON file (`cachixUseCaches = "use.json";`) which `cachix use` can easily manipulate.

[2019-02-15 10:13] domenkozar commented on #91
What's the benefit? :) I requires mutable operations on json, I'd like to avoid that unless there's a compelling reason.

[2019-02-15 10:39] smaret commented on #167
`sundials2` is the name of the binary that I want to upload to the cache. The cache itself is named `smaret`.

I've just realised that `cachix push` takes the name of the binary cache as an argument. Indeed, `nix-build | cachix push smaret` gives no error. Sorry for the confusion.

[2019-02-15 10:39] #167 closed

[2019-02-15 11:02] Infinisil commented on #91
@domenkozar While having a single module sounds better, in order to not store state I wouldn't mind the readDir version.

[2019-02-15 11:03] Infinisil commented on #91
Can also super easily remove caches again with that

[2019-02-15 11:03] domenkozar commented on #91
How about this:

[code]

[2019-02-15 11:06] Infinisil commented on #91
Sounds good! One thing you should implement though is some way to customize the directory it uses. I personally (and probably lots of other people) don't use /etc/nixos for their NixOS config. An environment variable would probably be good.

[2019-02-15 11:47] domenkozar commented on #91
Sure. Almost done :)

[2019-02-15 14:00] domenkozar commented on #91
Will be part of #168

[2019-02-15 14:16] domenkozar opened #169 "get netrc location from nix.conf"
Currently, cachix assumes that netrc is stored at default location. It should at least bail out if not, but even better just use the correct setting.

[2019-02-20 08:42] domenkozar opened #170 "Get rid of amazonka dependency"
It shouldn't be required at all on the client side. There is [transPipe](https://hackage.haskell.org/package/conduit-1.3.1/docs/Data-Conduit.html#v:transPipe) for serverside to go from `IO a -> AWS a` in the monad.

[2019-02-26 09:49] domenkozar opened #171 "Use genericClientHoist"
Use `genericClientHoist` to embed clientEnv into the client monad. See https://haskell-servant.readthedocs.io/en/stable/cookbook/generic/Generic.html#client

[2019-02-27 15:26] domenkozar commented on #71
There's a separate step now to generate a key and it looks like this:

[code]

@chris-martin does this suffice?

[2019-02-27 23:55] chris-martin commented on #71
Yay explanation!

I have one more thought - So it says:

Could it say *where* it has been saved? One appreciates being well-informed about which of one's files are being modified.

[2019-02-28 04:09] domenkozar commented on #71
Actually, it does say that a line above (and it always has), but I've removed it from the example.

Going to reword that a bit to say `Secret signing key has been saved in the file above.`. Thanks!

[2019-02-28 08:24] domenkozar opened #172 "private caches: detect if another netrc is used"
One side-effect of #169 is that if `/etc/nix/netrc` exists, local netrc won't be used. Sadly Nix options are not monoidal, so we have to make this easier for users.

What this means in practice is that users can't mix&match local and global Nix settings for binary caches, although sometimes this would make sense.

[2019-02-28 10:24] domenkozar opened #173 "Validate cache exist before doing something with it"
Otherwise one might get an error like:

[code]

[2019-02-28 11:42] domenkozar commented on #55
@nh2 something we can easily support today is xz compression level.

[code]

So instead of uploading ghc in 7.5min, it would take 30s. In the future, cachix could recompress those files to save storage. What do you think, would adding `cachix push --compression-level` help?

[2019-02-28 13:38] danbst commented on #55
`zstd -7` is faster and produces smaller result than `xz -0`
[code]
On decompression `zstd` heats CPU much less than `xz`:
[code]

[2019-02-28 14:00] domenkozar commented on #55
@danbst to be clear, I'm not saying zstd is not superior, but we could have xz compression level tomorrow, while zstd support will take more time.

[2019-02-28 22:43] nh2 commented on #55
@domenkozar Yes, compression level on the command line would be a good first mitigation, for tomorrow, definitely helpful until faster methods can be done later.

[2019-03-01 14:31] domenkozar opened #174 "Don't word-wrap instructions"
Otherwise it might wrap as:

[code]

which could mean the user will see the token printed.

[2019-03-01 14:54] domenkozar commented on #27
Need to get back to this, @lukego reported a similar issue that would be solved by allowing copy/pasting manually.

I guess there's no way to skip scrolling unless I'd stop using JWT with all of it's overhead.

[2019-03-02 12:11] domenkozar opened #175 "Calculate store size before pushing"
Use System.Directory.fileSize and benchmark on huge folder and on many files.

Use case: someone accidentally wants to upload 8GB file into store would think that cachix is stuck.

[2019-03-04 11:53] #158 closed

[2019-03-04 11:56] #71 closed

[2019-03-04 11:56] #170 closed

[2019-03-04 11:57] domenkozar commented on #24
This is going to be part of 0.2 tomorrow.

[2019-03-04 11:57] #24 closed

[2019-03-04 11:57] #91 closed

[2019-03-04 11:57] #166 closed

[2019-03-04 11:58] #160 closed

[2019-03-04 12:02] domenkozar commented on #169
Addressed in https://github.com/cachix/cachix/pull/176, but it just overrides an existing setting so in the future we should handle that as well.

[2019-03-05 02:55] #157 closed

[2019-03-06 04:28] domenkozar opened #179 "Support servant-0.16"

[2019-03-06 10:27] #179 closed

[2019-03-07 04:45] domenkozar opened #181 "Alternative authorization sources"
GitHub is not an option for everyone. Please write down your use case if that's the case and what you'd prefer.

- manual list of cachix usernames
- ?

[2019-03-07 07:41] domenkozar opened #182 "Search over derivations in a cache"

[2019-03-09 00:01] nomeata commented on #9
I am doing this manually with
[code]
now, but it is uploading stuff already cached on some other cache (`https://hydra.iohk.io` and `https://cache.nixos.org`).

Is there a way to upload only those build  dependencies not found on the other caches?

[2019-03-09 23:29] nomeata opened #183 "Cleanly shut down `cachix push --watch`"
I am playing around with using `cachix push --watch` on travis, and it is very convenient. But it seems I tend to lose caching of the final artifact, because travis kills the `cachix push` process before it is done uploading.

It would be nice if there was a `cachix push --unwatch` command that would tell the watching daemon to finish uploading and terminate, and this command would return only whe

[2019-03-10 08:35] domenkozar commented on #183
Duplicates #53 - I agree, if you have a suggestion how to implement signaling I'm all ears :)

[2019-03-10 08:35] #183 closed

[2019-03-11 05:34] domenkozar commented on #9
Unfortunately not yet - see https://github.com/cachix/cachix/issues/16

[2019-03-11 08:15] puffnfresh commented on #181
Atlassian Marketplace uses Cachix for caching our public dependencies. We would like to expand to our private dependencies but we are very heavy users of Bitbucket.

[2019-03-15 10:58] nomeata opened #184 "Provide a static build?"
Each of my travis builds now starts with
[code]
ok, it is only 15 seconds, but still: Have you considered building `cachix` statically, maybe with `musl`, i.e. `crossSystem = localLib.systems.examples.musl64`, so that this step has to download only one self-contained and hopefully smaller store path?

[2019-03-15 11:04] nomeata commented on #184
Also, I noticed that `https://cachix.org/api/v1/install` is actually a full copy of nixpkgs, and rather large. Is there a way to condense it to only the (evaluated) `.drv` for cachix? Maybe including its dependencies?

[2019-03-15 13:31] nomeata commented on #184
Ok, I tried to build `-A pkgsCross.musl64.cachix` to see how large the resulting binary would be, but it seems that the `clock` library cannot be cross-compiled with the version of nixpkgs provided by https://cachix.org/api/v1/install:

[code]

[2019-03-16 08:58] nomeata commented on #184
Adding this patch makes progress here: https://raw.githubusercontent.com/input-output-hk/iohk-nix/master/patches/clock-0.7.2.patch

[2019-03-16 10:31] nomeata commented on #184
Oh man, `cachix` has many Haskell package dependencies. A lot of them build fine using `-A pkgsCross.musl64.cachix`, but some fail like this:
[code]

I find it odd that the error message comes after `Haddock coverage:`. A blind guess: it fails building packages that use Template Haskell, as haddock cannot evaluate that when cross-compiling. Is there a way to disable all haddocks?

[2019-03-16 10:56] nomeata commented on #184
Ok, not related to haddock, and also happens on nixpkgs `master` with GHC-8.6.4. Not sure what the story is.

[2019-03-18 03:57] domenkozar commented on #184
Thanks for opening this, it is definitely planned to have statically linked executable.

Currently it's not, so it has to be coming from nixpkgs, so that there's an existing binary cache. If we did switch to statically linked linux/macos executable, then binary cache wouldn't be required at all as the binary can be just fetched from releases so this would be great.

[2019-03-18 04:31] nh2 commented on #184
I provide a static `cachix` build in [`static-haskell-nix`](https://github.com/nh2/static-haskell-nix); you can see it's in the list of `working` executables that I've explicitly tested in https://github.com/nh2/static-haskell-nix/blob/97dd9f518ba15b5b72d603cd9d029767a2b39227/survey/default.nix#L697

For example, as described in [Building arbitrary packages](https://github.com/nh2/static-haskell-n

[2019-03-18 23:13] nomeata commented on #184
Confirmed that
[code]
works, and results in a static binary of size 15MB, 3.3MB gzipped, which is a nice little improvement over the 9.79 MiB download, 46.36 MiB unpacked repoted above.

But this will probably have to wait for `pkgsStatic` to support building Haskell packages in mainline `nixpkgs`.

[2019-03-19 08:13] nomeata commented on #184
Oh, and
[code]
(which is the variant where you don’t cross-compile, but simply build a whole system with musl) works on `nixpkgs` master too, since commit https://github.com/NixOS/nixpkgs/commit/3ff71fcc8b3dc1d17a823bd7f52b7685b4f5b1e1.

This command above still produces a shared executable, you have to set flags to create a static executable. And when I tried to do that naively, I got linker erro

[2019-03-21 09:19] domenkozar commented on #169
Going to be addressed by #172

[2019-03-21 09:19] #169 closed

[2019-03-21 09:21] domenkozar commented on #124
Use http://hackage.haskell.org/package/hnix-store-core

[2019-03-21 09:21] #122 closed

[2019-03-21 09:24] domenkozar commented on #4
Use http://hackage.haskell.org/package/hnix-store-core

[2019-03-21 09:51] domenkozar opened #186 "Setting up private cache on NixOS with untrusted user fails"
# error

[code]

# improvements

- note which method is being used in the output
- fix the bug?

[2019-03-28 14:09] nagisa opened #188 "Document that after nix configuration changes nix-daemon should be reloaded"
We were setting up automated configuration of our fleet with ansible and were updating the nix configuration files so that they would include the cachix as substituter. The one step that we missed was reloading `nix-daemon` which made us spend quite an amount of time debugging the issue.

I think that it is should be documented what files and steps are necessary to set up cachix as a working subst

[2019-04-19 02:42] somlor commented on #181
Possibly related but is "Organization access" necessary for GitHub OAuth? If yes, can the reasoning maybe be added to FAQ or documented somewhere?

[2019-04-19 02:49] domenkozar commented on #181
Technically it's not required (and we don't call github on those apis) unless you use a private cache, but we don't want to bother users with the permissions once again when they want to create a private cache.

[2019-04-19 14:59] somlor commented on #181
![Authorize application 2019-04-19 10-53-33](https://user-images.githubusercontent.com/81008/56429597-7f7a1d00-6291-11e9-8d6b-91fb8d89af8e.png)

FWIW this caused me to bounce before even giving this a try. I'm possibly misreading exactly what these permissions entail, but at a glance it seems like I'd be giving read access to private "Projects" (?) for organizations and teams I'm a part of? Also n

[2019-04-19 15:15] roberth commented on #181
The term Project on GitHub refers to "Project boards", which is very unfortunate, because in the past they were used synonymously and on Git*Lab* they are also mostly synonymous.

Is it possible that the :heavy_check_mark: checked orgs refer to previously granted or open source organizations?

[2019-04-22 14:26] risicle commented on #16
Something as simple as a `cachix push mycache --exclude-present-in https://cache.nixos.org` option would do the job for me. This seriously restricts the usefulness of cachix for me and I'm sure fills your server with duplicates.

[2019-04-23 22:33] mynameisdaniil commented on #186
Similar problem on Ubuntu 18.04
`elm init` or `elm repl` produces
`elm: /usr/lib/node_modules: createDirectory: permission denied (Permission denied)`

[2019-04-24 02:39] domenkozar commented on #186
I don't think elm has much to do with cachix :)

[2019-04-26 17:36] Infinisil opened #189 "Support argument list output"
It would be really cool if cachix could be used like this:

[code]

Which would expand to
[code]

Ping @kalbasit

[2019-04-27 08:56] domenkozar commented on #189
Duplicates #126 :)

[2019-04-27 08:56] #189 closed

[2019-04-30 14:17] arianvp commented on #186
Yes love to have this fixed. I don't use `/etc/nixos` to store my nixos config. I'd much rather have the following output:

[code]

[2019-05-01 04:43] domenkozar commented on #186
There is `-d,--nixos-folder ARG    Base directory for NixOS  configuration (default: "/etc/nixos/")`, would that suffice to write it out wherever is your configuration?

[2019-05-02 18:10] roberth commented on #181
The permission description has been fixed! :octocat::fireworks:

![Screenshot from 2019-05-02 20-02-36](https://user-images.githubusercontent.com/496447/57096350-589dfb00-6d15-11e9-9ec4-1527a95b5440.png)

[2019-05-10 09:02] roberth opened #190 "Improve cachix:lib"
- A better way to construct the `Env`
 - Progress reporting is done directly to stderr; making this pluggable would be nice. Can be callbacks, a conduit that emits progress info or something else
 - Logging with a framework (katip?) would be nice, so the application as a whole (including cachix) can be inspected

[2019-05-10 22:31] Infinisil commented on #188
For reference, as /u/cahsix mentioned [here](https://www.reddit.com/r/haskell/comments/bhnvfl/haskell_ide_engine_nix_builds_for_all_ghc_versions/en27rpi/), on macOS you should be able to reload the nix daemon with
[code]

[2019-05-14 11:30] yorickvP opened #191 ""Connection reset by peer" on generate-keypair"
Seeing this intermittent error when running generate-keypair, running again resolved it:
[code]

[2019-05-17 07:30] Rizary commented on #186
Is this the same with error `/etc/nixos/cachix: openFile: permission denied (Permission denied)` ? Because I have this error when using cachix in WSL ubuntu 18.04

[2019-05-17 08:17] domenkozar commented on #186
Are you using NixOS or plain Nix?

[2019-05-17 08:41] Rizary commented on #186
I am using plain Nix, in ubuntu 18.04 WSL (windows 10) version.

[2019-05-17 08:45] domenkozar commented on #186
Does `/etc/NIXOS` or `/etc/nixos` exists?

[2019-05-17 08:45] Rizary commented on #186
no it does not.

[2019-05-17 08:49] domenkozar commented on #186
@Rizary what exact command are you running?

[2019-05-17 09:04] Rizary commented on #186
@domenkozar
`cachix use all-hies`

[2019-05-28 17:15] nh2 commented on #184
For people's convenience, here's a static build of `cachix-0.2.0` I made with the latest `static-haskell-nix`:

* [cachix-0.2.0-static-haskell-nix.tar.gz](https://github.com/cachix/cachix/files/3228867/cachix-0.2.0-static-haskell-nix.tar.gz)

[2019-06-03 20:29] domenkozar commented on #191
Should use a retry.

[2019-06-20 11:55] roberth commented on #96
Also verify that it's an acceptable key for the cache. Otherwise the user is still confronted with push failures (and retries).
https://logs.nix.samueldr.com/nixos/2019-06-20#2324286;

[2019-06-23 12:06] ghost opened #199 "Deleting cache completely"
Is it possible to delete cache completely? Similarly to, for example, deleting repository from github.

[2019-06-23 17:44] domenkozar commented on #199
Not through web interface yet, but you can tell me which one you want to delete and I'll do it.

[2019-06-26 10:20] ln-nl commented on #199
It is absolutely not necessary! But i would like to havе this functionality in the future.
Thank you!

[2019-06-29 13:46] domenkozar commented on #96
Same happened to @mpickering, a clear message that the key is wrong would be very helpful.

[2019-07-03 12:49] domenkozar commented on #55
According to https://community.centminmod.com/threads/round-3-compression-comparison-benchmarks-zstd-vs-brotli-vs-pigz-vs-bzip2-vs-xz-etc.17259/ it seems brotli vs xz doesn't make a huge difference, but adding zstd support would.

[2019-07-03 13:26] nh2 commented on #55
@domenkozar My reading of the tables doesn't confirm that:

![image](https://user-images.githubusercontent.com/399535/60595079-96b3ab80-9da6-11e9-9cfb-f5ac3a07a96f.png)

![image](https://user-images.githubusercontent.com/399535/60595127-afbc5c80-9da6-11e9-89a3-044ffab3e6af.png)

`brotli` can compress at close-to Gigabit Ethernet line rate (~80 MB/s), `xz` cannot (17 MB/s).

That is a practical ~5x

[2019-07-03 14:45] domenkozar commented on #55
I also need to evaluate compression ratio, as otherwise people will complain about the storage size.

Practically speaking 10MB/s seems like a good balance, anything beyond that should be configurable but not the default.

[2019-07-03 14:54] nh2 commented on #55
@domenkozar That makes sense; what I meant to point out is that the difference between brotli and xz is that brotli can be configured to be fast, while xz cannot. That's what makes me think that when choosing between xz and brotli, brotli looks like a better stopgap solution.

zstd certainly solves it fullly because of its wide range of speed-vs-size control options.

[2019-07-03 15:09] domenkozar commented on #55
Once I add support for another compression, adding the third is really easy.

Meanwhile I propose setting xz level to 2 as default but make it overridable if someone wants to save on storage.

[2019-07-03 17:00] nh2 commented on #55
@domenkozar That seems fine to me -- I don't really mind what the default is as long as flags are available so that users can adjust. Though the new default you propose that'd be ~10 MB/s would already be a lot better than the current speed from the issue description.

[2019-07-04 11:42] domenkozar commented on #55
See #200 for short term fix. Needs benchmarking.

Further optimizations:
- [ ] support brotli/zstd compression
- [ ] recompress archives to xz with high compression level

[2019-07-04 13:27] domenkozar opened #201 "Mass query push"
Currently when syncing a huge closure, for each derivation we need to do three http requests:

a) look up narinfo
b) compress + send nar
c) upload nar

For evaluations with a lot of derivations there's a significant overhead. (a) and (c) can be batched, while (b) is going to be capped at CPU (compression) and bandwidth limits.

[2019-07-07 12:25] domenkozar opened #204 "cachix push has unclear help formatting"
[code]

[2019-07-08 18:49] domenkozar opened #205 "Support brotli/zstd compression besides xz"
In https://github.com/cachix/cachix/issues/55 it was pointed out that zstd/brotli both [can achieve much faster transfer speeds](https://community.centminmod.com/threads/round-3-compression-comparison-benchmarks-zstd-vs-brotli-vs-pigz-vs-bzip2-vs-xz-etc.17259/).

[2019-07-08 18:50] domenkozar commented on #55
This was fixed mid-term as you can tinker with xz compression level now, for long term see https://github.com/cachix/cachix/issues/205

[2019-07-08 18:50] #55 closed

[2019-07-10 13:53] roberth commented on #204
It does support that, but the line break is unfortunate.
I guess we can add a certain number of spaces to force the whole parenthesized part to go on a new line.
Another way to fix it is to say that `push -w` is its own command, but even if deprecating and adding a new command might be the right thing to do, it is a bit radical for what can also be considered a text formatting issue :)

[2019-07-11 11:00] domenkozar commented on #204
https://github.com/pcapriotti/optparse-applicative/issues/353

[2019-07-12 06:14] vaibhavsagar opened #206 "cachix 0.2.1 has a large closure size"
`cachix-0.2.1` seems to include unnecessary dependencies in the closure, e.g. `ghc-8.6.5`, which leads to it slowing down my CI builds, e.g. https://travis-ci.org/vaibhavsagar/presentations/builds/557692395.

[2019-07-12 13:34] roberth opened #207 "Validate authToken before setting it in CLI"

[2019-07-12 18:22] domenkozar commented on #206
This is due to an old Nix version on Travis. It's interesting this worked before as Nix expressions are identical.

[2019-07-12 19:02] domenkozar opened #208 "retries: display the actual error"
Example: if user has no `nix-store` available, cachix will just keep retrying and fail.

[2019-07-12 20:09] vaibhavsagar commented on #206
I don't think so, here's what happens with Nix 2.2.2: https://travis-ci.org/vaibhavsagar/presentations/builds/558014807

[2019-07-13 16:17] domenkozar commented on #206
I can reproduce this now with `nix-env -f . -iA cachix --store $PWD/tmp` on nixpkgs.

I'm confused why this happens due to:

[code]

[2019-07-13 16:58] domenkozar commented on #206
Opened https://github.com/NixOS/nix/issues/2990

[2019-07-13 17:12] domenkozar commented on #206
Pushed https://github.com/NixOS/nixpkgs/commit/d4296584d1dc0181fa9deebd059d444c1fcd80a9 - will switch the installation tomorrow once it hits binary caches.

[2019-07-14 12:21] #206 closed

[2019-07-14 12:26] domenkozar commented on #206
Deployed :)

[2019-07-14 13:40] vaibhavsagar commented on #206
Thanks!

[2019-08-05 15:22] domenkozar commented on #208
Thinking if this is just a `--watch-store` issue per http://hackage.haskell.org/package/fsnotify-0.3.0.1/docs/src/System.FSNotify.html#readEvents

[2019-08-07 15:01] symbiont-joseph-kachmar opened #213 "README image link appears to be broken"
[This link](https://camo.githubusercontent.com/bf1baa25154a041bc4a6865fe91ca327b4173eb0/68747470733a2f2f6361636869782e6f72672f696d616765732f6c6f676f2e706e67) in the README seems to be resolving to "Not Found"

[2019-08-07 15:48] tomberek commented on #181
Gitlab organizations

[2019-08-11 04:56] josephsdavid opened #214 "Http error 500"
I can’t do anything, use any of my nix shells or even uninstall cachix because cachix is down

[2019-08-11 04:57] josephsdavid commented on #214
Can I like do cachix don’t use so I can at least do some work while cachix is down

[2019-08-11 05:26] josephsdavid commented on #214
Sorry that came across as rude, but is there a way i can tell cachix to not use a cache when cachix is down? That way I am not in trouble when this happens again

[2019-08-11 07:32] doronbehar commented on #214
I got the same behavior today when running `nixos-rebuild`. Also using the `--option substituters` didn't help I guess because the relevant Nix options were written in `/etc/nix/nix.conf` - it still tried to use the cachix servers I've had configured.

I've eventually worked around this by disabled these substitutes manually:
- I deleted `/etc/nix` which is a symlink to a read only file system in

[2019-08-11 07:59] domenkozar commented on #214
it's back up and running.

Make sure to use Nix 2.2.2 as it has a bugfix to allow binary caches to be down.

I'll make sure to do some changes to avoid this particular issue and set up a status page.

[2019-08-11 07:59] #214 closed

[2019-08-11 08:00] domenkozar commented on #204
This will be fixed in next optparse-applicative release.

[2019-08-11 08:00] #204 closed

[2019-08-15 13:15] domenkozar commented on #213
Thanks - fixed.

[2019-08-15 13:15] #213 closed

[2019-08-16 07:43] domenkozar opened #217 "Switch to Hercules CI"
It's time to make the switch, using travis has become too painful.

[2019-08-16 12:03] domenkozar commented on #175
better to query this from Nix.

[2019-08-16 12:05] domenkozar commented on #97
base16 is gone, can't use cryptonite since it doesn't expose private keys for ed25519.

[2019-08-16 12:05] #97 closed

[2019-08-16 12:06] domenkozar commented on #4
Fixed in https://github.com/cachix/cachix/pull/216

[2019-08-16 12:06] #4 closed

[2019-08-18 02:14] cdepillabout opened #218 "add steps for installing cachix on homepage"
I wanted to play around with [`static-haskell-nix`](https://github.com/nh2/static-haskell-nix), and the [instructions](https://github.com/nh2/static-haskell-nix#binary-caches-for-faster-building-optional) there recommend using cachix.

The instructions on `static-haskell-nix` don't explain how to install cachix, but just link to the cachix [homepage](https://cachix.org/).

The cachix homepage does

[2019-08-18 02:22] cdepillabout commented on #218
Looks like the error message from `cachix use` is brought up on https://github.com/cachix/cachix/issues/186 as well.

[2019-08-18 07:14] domenkozar commented on #218
The instructions should point to https://static-haskell-nix.cachix.org/

Cachix writes down NixOS configuration, you can give is `-d PATH` to avoid `/etc/nixos` path.

As per instructions, nixpkgs unstable is not officially supported as updates of ecosystem there are too rapid.

I agree about #186, I'll try to fix that one :)

[2019-08-18 07:46] cdepillabout commented on #218
Thanks for the quick response.

Thanks! This is the type of instructions I was looking for.  I created https://github.com/nh2/static-haskell-nix/issues/49 to fix this in `static-haskell-nix`.

No worries, I'm completely fine installing it with something like `nix-env -iA cachix -f https://cachix.org/api/v1/install`.  It is just that I didn't see those instructions from the homepage.  Although I am

[2019-08-18 07:51] #218 closed

[2019-08-20 18:59] domenkozar commented on #186
@Rizary did you manage to resolve this? I still don't understand how you end up in that code path.

[2019-08-23 12:23] roberth commented on #116
This particular code has been replaced by a native Nix invocation on master, same for the bulk query.

[2019-08-23 12:23] #116 closed

[2019-08-23 12:31] roberth opened #221 "Query multiple caches in a single request"
Using endpoints like

- cachix.org/cache/foo,bar,baz/$HASH.narinfo
- cachix.org/cache/foo,bar,baz/nar/$NAR.xz

 - [ ] implement on backend (hercules labs)
 - [ ] adapt `cachix use`

[2019-09-01 11:54] domenkozar commented on #17
This has been superseeded by https://github.com/NixOS/rfcs/pull/49 and will be part of #14

[2019-09-01 11:54] #17 closed

[2019-09-01 12:08] domenkozar commented on #188
@nagisa did you experience this on Linux/macOS/NixOS?

[2019-09-03 08:44] #186 closed

[2019-09-06 19:29] coot opened #224 "504 errors when building or pushing to cachix"
When trying to build or push to cachix:

[code]
or when I try to push:
[code]

[2019-09-06 20:51] domenkozar commented on #224
Hey, we've fixed the issue. I'll investigate what caused the downtime and report back.

[2019-09-06 20:51] #224 closed

[2019-09-06 21:09] coot commented on #224
Thanks!

[2019-09-07 14:48] domenkozar opened #225 "If NixOS && not trusted: print instructions what to do"
Explain the difference between trusted users and nixos option.

[2019-09-08 11:08] domenkozar opened #226 "use mdsh to automate --help output"
https://github.com/zimbatm/mdsh

[2019-09-13 03:50] purcell opened #228 "Cachix 0.3.0 failing on Travis MacOS"
Thanks so much for Cachix - my current consulting client is using it commercially, and I’m now setting it up on a personal open source basis to provide a binary cache for CI-friendly builds of multiple Emacs versions.

Strangely, I’m finding that `cachix use` fails silently in the Travis MacOS environment, as seen by this broken job within a build that works flawlessly on the Travis Linux hosts: h

[2019-09-13 08:08] domenkozar commented on #228
Hey @purcell, I'm going to look into this right now. Either way, `cachix use` shouldn't fail without an error message.

[2019-09-13 09:17] domenkozar commented on #228
Sadly Travis Nix integration is not in a good state.

You'll have to add the following to `before_script`:

[code]

I'm going to try to fix cachix so that it prints an error at least.

[2019-09-13 13:49] domenkozar commented on #228
I get an expected error message in https://travis-ci.com/cachix/cachix/jobs/234860791, seems like something is fishy with the macos build of cachix 0.3.0.

[2019-09-13 14:38] domenkozar commented on #228
Seems like it's a buffering issue, if I add `|| sleep 5` the error message is displayed in travis logs.

[2019-09-14 02:38] purcell commented on #228
I'd be very happy to help work on fixing that if it would help.

I'll give that a try, but I'm a bit surprised that you don't need the same thing in the Travis build here, since you're also using `cachix use` on Travis + MacOS.

[2019-09-14 03:27] purcell commented on #228
That indeed did the trick, thanks.

Maybe you need to flush output explicitly. Wouldn't be the first time I've seen that.

[2019-09-19 18:58] jb55 commented on #173
I'm hitting this even though the cache exists?

[code]

[2019-09-19 18:58] jb55 commented on #173
was working before...

[2019-09-19 19:05] jb55 commented on #173
oh nevermind! my mistake.

[2019-09-20 17:03] Profpatsch commented on #228
I see the same issue, but the fix from above doesn’t work here:

[code]

Log: https://travis-ci.org/target/lorri/jobs/587535261

[2019-09-24 05:48] purcell opened #234 "Push timeouts from travis"
I'm finding that a previously-working Travis build [is timing out](https://travis-ci.com/purcell/nix-emacs-ci/jobs/238335888) in `cachix push` today, while the same operation works from my MacOS development machine just fine. Any guesses at a possible cause? ([.travis.yml](https://github.com/purcell/nix-emacs-ci/blob/master/.travis.yml))

[2019-09-24 08:23] domenkozar commented on #234
Most likely related to Nix 2.3, investigating.

[2019-09-24 08:37] domenkozar commented on #234
I've reverted cachix 0.3.2 bump for installers, this should resolve the issue.

Will change the release process to prevent this in the future.

[2019-09-24 08:37] #234 closed

[2019-09-24 20:55] purcell commented on #234
Ah, great, thanks.

[2019-09-29 03:05] nagisa commented on #188
It must have been some random Linux, as it was provisioned using ansible IIRC.

[2019-09-29 09:01] domenkozar commented on #184
Now that cachix depends on Nix, this is going to get prioritized.

Blocked by https://github.com/NixOS/nixpkgs/pull/56281

[2019-09-29 09:38] tazjin commented on #184
Personally I would much prefer to fetch it from the official binary cache due to the source hashes. Would it be possible to add the static cachix to nixpkgs?

[2019-09-29 09:40] domenkozar commented on #184
That's my intention, nixpkgs would build the static binary, but instead of evaluating whole nixpkgs, static executable can just be directly substituted.

[2019-09-29 19:34] domenkozar commented on #184
I think this is blocked until cachix gets to use GHC 8.8 with Cabal 3, that should make static compilation simple.

[2019-09-29 23:32] nh2 commented on #184
It's not really required, the patch I upstreamed to Cabal 3 only makes static-haskell-nix maintenance easier. Because with musl we have to build everything from scratch anyway, carrying the patch isn't a great blocker, just my time.

Perhaps the static-haskell-nix -> nixpkgs move should be a NixCon project?

[2019-09-30 07:47] domenkozar commented on #184
That would be great, I'd pair up.

[2019-09-30 11:36] domenkozar commented on #224
https://blog.hercules-ci.com/2019/09/30/recent-cachix-downtime/

[2019-09-30 13:56] turion opened #239 "Integrate into nixpkgs/NixOS"
In NixOS, there should be a simple option like:

[code]

[2019-10-03 17:20] razvan-flavius-panda opened #242 "cachix use miso-haskell - MustBeRoot error"
**Describe the bug**

When I run: `cachix use miso-haskell` I get an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `cachix use miso-haskell`
2. Outputs: `MustBeRoot "Run command as root OR execute: $ echo \"trusted-users = root $USER\" | sudo tee -a /etc/nix/nix.conf && sudo pkill nix-daemon"`

**Expected behavior**

I expect it to work...

**Desktop (please complete the followi

[2019-10-03 17:23] roberth commented on #242
Looks like the error message got escaped. Could you try:

    echo "trusted-users = root $USER" | sudo tee -a /etc/nix/nix.conf && sudo pkill nix-daemon

We'll remove the escaping from the message.

[2019-10-03 17:25] razvan-flavius-panda commented on #242
Adding:

    nix.trustedUsers = [ "root" "neo" ];

to `configuration.nix` and doing a `nixos-rebuild switch` fixed the issue.

[2019-10-03 17:25] #242 closed

[2019-10-04 09:08] domenkozar commented on #228
This should now work with cachix 0.3.4. Although I recommend using github actions over travis, it will solve a lot of pain: https://github.com/cachix/cachix-action

[2019-10-04 17:42] Profpatsch commented on #228
Github Actions are still extremely beta, so I wouldn’t want to switch to them just now. Want to focus on different things than beta testing yet another broken CI system :)

But thanks, we’ll check it out!

[2019-10-04 18:50] Profpatsch commented on #228
@domenkozar No cigar, sadly: https://travis-ci.org/target/lorri/jobs/593673545#L547

[2019-10-04 23:13] NorfairKing commented on #199
+1 on this feature.

[2019-10-04 23:14] NorfairKing commented on #199
It's mostly because I can't regenerate a signing key.

[2019-10-07 08:00] domenkozar commented on #199
@NorfairKing I can regenerate the signing key for you for now if you contact support.

[2019-10-07 08:11] NorfairKing commented on #199
@domenkozar No worries, I'll also just wait for this feature, it's no big deal.

[2019-10-12 09:04] chrissound opened #243 "Simple scenario does not seem to use cachix cache"
**On my PC:**

I authenticated etc...

[code]

**On server:**
[code]
I then also added:
[code]
And did a `nixos-rebuild switch`.

However when doing `nix-env -i -f https://github.com/chrissound/SodiumSierraStrawberry/archive/v1.1.tar.gz` it still seems to be building manually (this is on server).

Am I missing something?

Here is a partial log of `nix-env -v -i -f https://github.com/chrissound/Sod

[2019-10-12 12:03] domenkozar commented on #243
In https://github.com/chrissound/SodiumSierraStrawberry/blob/master/sodium.nix#L8

Instead of using `./.` use:

[code]

Implementation of `./.` unfortunately uses parent directory for the name, which means your hash changes based on where you install (which is a temporary directory for nix-env)

[2019-10-12 12:48] chrissound commented on #243
Thank you for your help! :+1:

[2019-10-12 12:48] #243 closed

[2019-10-27 13:23] domenkozar opened #245 "--watch-store using 30%-70% CPU when idle"
Need to test on a machine with lots of cores.

[2019-10-29 16:34] domenkozar opened #246 "document post-build-hook usage"

[2019-11-01 21:03] qrilka commented on #19
@domenkozar is it expected that at https://cachix.org/api/v1/ I read

?

Actually I was looking for some user docs about cachix (basically for using other users repos) and the repository README give some of that but https://cachix.org/ is not that good from this point of view - it doesn't give me any hint about that.

[2019-11-01 21:05] domenkozar commented on #19
That's a bug in some of the servant-swagger, I'll make sure it's updated, thanks for the ping.

Can you explain what's your use case?

[2019-11-01 21:16] qrilka commented on #19
Somehow I heard cachix mentioned many times but didn't start using it yet until I stumbled upon it on https://github.com/Infinisil/all-hies so the general question was - how to install it and what could you do with it as a CLI tool, so I go to cachix.org press "Get Started" and then I see some selection of private or public repo and the first reacion is WAT.
Theoretically "What?" section looks to

[2019-11-04 13:57] domenkozar commented on #19
You're able to go back by logging out via the profile menu. I agree with this being cumbersome, planning to fix it.

[2019-11-06 16:00] roberth commented on #19
Reopening because only part of the issue is currently being addressed.
 - [x] update servant-swagger to fix the "petstore" bug
 - [ ] make the landing page available after logging in

[2019-11-06 16:03] domenkozar commented on #19
Ah, I didn't mean to close it.

[2019-11-06 16:04] roberth commented on #19
GitHub didn't understand that you linked a comment rather than the whole thing.

[2019-11-09 00:14] Profpatsch commented on #228
Will this be supported again in the future?

[2019-11-12 16:25] domenkozar commented on #228
I'd really suggest looking at github actions.

I'll take a look again why it's not flushing.

[2019-11-14 20:41] rtimush opened #251 "Bad archive: input doesn't look like a Nix archive"
It seems that I managed to upload a broken `nar` to the cache with cachix (version 0.3.4): https://tenpureto.cachix.org/wrjd3z9x1gix6bxy0m9p4djzjypkrpxh.narinfo
Unlike some previous issues (#147), the file is not empty, just the [content](https://tenpureto.cachix.org/nar/bd11361f7dc8c701ddae2ea82853d63c07ad949051724f8d1fad30f8195c97a8.nar.xz) looks truncated, at least from the beginning.
The comma

[2019-11-14 21:43] chessai opened #252 "thank-you issue"
just wanted to say thank you. this project is great. i've used it personally for a while and at my workplace for a few months now. my workplace doesnt want to embrace NixOS/hydra, so cachix has been incredibly useful. i'm currently trying to convince them to go for a private cache. i was able to setup cachix ci in only a few minutes using cachix-action. anyway this is just a thank you, i'm going t

[2019-11-14 21:43] #252 closed

[2019-11-14 22:07] rtimush commented on #251
After rebuilding, I can confirm that the uploaded `nar` is missing 32752 bytes from the beginning (which can be `2^15-16`, but can also be a random coincidence).

[2019-11-14 22:31] roberth commented on #251
@rtimush do you know which version of cachix has uploaded the file?

@domenkozar All the other narinfo fields are consistent with the truncated nar. It seems like the error comes from `nix-store --dump`, conduit's `streamingProcess`, `conduit` or some low level component.

-----

I've attached the narinfo and nar files for completeness.
[files.zip](https://github.com/cachix/cachix/files/3848890/fi

[2019-11-14 22:38] rtimush commented on #251
@roberth it must be 0.3.4 (and nix version is 2.3.1)

[2019-11-14 22:46] rtimush commented on #251
Just in case — here is the non-truncated nar: [full.nar.zip](https://github.com/cachix/cachix/files/3849000/full.nar.zip)

[2019-11-15 15:36] domenkozar commented on #251
@rtimush I've deleted that narinfo.

I've seen this happen three times now, but it's still not entirely clear what goes wrong. It would be ideal if we could see logs from build that uploaded this narinfo, there could be something interesting there.

If it's `nix-store --dump` not exiting with non-zero, this will be fixed with Haskell implementation of Nar serialization.

If it's conduit, that's go

[2019-11-15 15:49] roberth commented on #251
@domenkozar I think we can rule out network because the narinfo is produced locally in a way that is correct assuming that the uncompressed nar was really like that.
This part of the code does not involve network afaict (except unix domain socket, but that doesn't seem like a realistic cause, particularly if nar stream is generated in nix-store process, not daemon (I'd have to check))

[2019-11-15 15:51] roberth commented on #251
If it's nix-store --dump, we can detect this by validating the magic bytes.

[2019-11-15 18:35] rtimush commented on #251
I found the GitHub Actions [run](https://github.com/rtimush/tenpureto/runs/303504485) that probably uploaded this nar, here is the full [log](https://github.com/rtimush/tenpureto/commit/e5e173e486d12cf9cc5516c7ca74b99d8f10a806/checks/303504485/logs).
It had to retry the upload, and that's the only unusual thing I see in the logs:
[code]

@domenkozar, thanks for deleting the broken entry 👍

[2019-11-15 20:18] nagisa opened #253 "Push timeouts"
Currently cachix prints out something along the lines of

[code]

It would be great if it also printed out the size of each of the things being pushed.

Context: we are investigating a spurious issue where our jenkins jobs timeout when pushing outputs. It would help somewhat to see how large the push is, exactly.

[2019-11-15 20:22] nagisa opened #254 "Print notification when pushing is slow"
Currently cachix shows no visible indication of pushing speed and does not notify when pushing is slow for whatever reason.

Consider outputting a message (just once) when pushing appears to be objectively slow, something along the lines:

[code]

I think transfer speeds less than 50 KiB to 100 KiB should trigger this message. Either message should be printed out only once.

[2019-11-16 00:44] colemickens opened #255 "Upload packages even with failures"
I'm not sure if this is possible, or it may be that I need to change how I invoke nix-build... but I do builds on ephemeral workers. Rebuilding my entire system and having a failure at the end currently results in all of the hard work being tossed.

Is there a way to have a nix-build that emits many store paths and have them uploaded, even if the build fails 90% of the way through?

`nix-build --k

[2019-11-17 13:08] domenkozar commented on #251
Thanks @rtimush, that gives us a bit more insight into the bug.

[2019-11-18 08:40] domenkozar commented on #253
See #175, but I got another report of the same issue. When did it start happening?

[2019-11-18 08:45] roberth commented on #175
can also serve as client side sanity check #251

[2019-11-19 10:11] domenkozar commented on #255
That's possible with either #246 or  `cachix push --watch-store`.

[2019-11-19 10:28] domenkozar commented on #253
@nagisa I'd appreciate if you can get exact timestamp of when the package that takes a lot of time got printed as pushing and store hash of it.

[2019-11-19 11:18] domenkozar opened #257 "user not trusted if no read access to /etc/nix/nix.con"

[2019-11-19 14:17] nagisa commented on #253
The first instance of the issue I can find is on Nov 15 20:13 UTC, The first report that I have of this issue is on Nov 15th 8:20 UTC. We don’t have logs that go further back, sadly.

The hashes of packages being pushed were:

[code]

[2019-11-20 14:45] domenkozar opened #258 "--watch-store: don't swallow exceptions"
@profpatsch When I added an auth token and generated a keypair, it suddenly worked. Is the silence on error intended?

https://github.com/haskell-fswatch/hfsnotify/issues/91

[2019-11-20 15:11] domenkozar commented on #258
seems best to catch exceptions ourselves inside the action

[2019-11-25 23:07] jefdaj commented on #228
@domenkozar the `before_script` just worked for me. I'm using Nix 2.0.4 on Travis in case that helps anyone.

[2019-11-27 00:32] codygman opened #259 "How can you use cachix with home-manager?"
I'd like to configure using cachix in home.nix and I'm not sure what is needed for this.

[2019-11-27 18:27] #253 closed

[2019-11-29 17:00] codygman commented on #259
It appears that home-manager does respect a simple `cachix use $your_cachix_name_here`. For me for instance using a shell script with Travis I did:

[code]

[2019-11-29 17:20] roberth commented on #259
`cachix use $CACHE` just configures your user Nix settings, which will be picked up by basically all tools in the ecosystem. Note user settings: if they run as root, use `cachix use --nixos` for example.

Home-manager doesn't seem to have any options for configuring user Nix settings, so if you want to configure cachix declaratively, that will have to be implemented first. But even then, you'll pr

[2019-12-17 17:15] #258 closed

[2019-12-20 10:34] domenkozar opened #261 "Report number of derivations being checked for existance"
This makes the UX a bit better of when a developer is trying to understand what's going on.

[2019-12-20 14:42] domenkozar commented on #246
See https://github.com/cachix/cachix-action/pull/19 for example usage

[2019-12-23 06:33] utdemir commented on #251
I am also having the same issue:

[code]

Is there an easy workaround for that? eg. Can I build that derivation manually on that machine without using `cachix`?

[2019-12-23 09:41] domenkozar commented on #251
@utdemir I've deleted that narinfo. The workaround is to pass `--substituters ''` when invoking `nix-build`.

[2019-12-25 13:58] mehlon commented on #85
I'm interested in this. Since Guix is based on Nix and presumably uses the same file formats, all it would take is something like `guix build hello | cachix push storename`.
Currently this gives the error `cachix: CppStdException "Exception: path '/gnu/store/md2plii4g5sk66wg9cgwc964l3xwhrm9-hello-2.10' is not in the Nix store; type: nix::Error"`. I think this is because it's in the `/gnu/` prefix

[2019-12-30 13:16] roberth opened #262 "Installation instructions are broken on 19.09"
- cachix should detect NixOS and adapt the snippet
 - bad escaping

[code]

[2020-01-07 15:56] domenkozar commented on #199
Deleting a cache is possible for some time.

[2020-01-07 15:56] #199 closed

[2020-01-08 10:57] #175 closed

[2020-01-09 09:29] domenkozar opened #266 "GHC 8.8.x"
- blocked on https://github.com/haskell-nix/hnix-store/issues/54, just vendor in the things we need for now

[2020-01-11 06:31] cdepillabout opened #267 "cachix CLI command for removing/disabling cache"
It would be nice to have a `cachix` command for easily disabling or removing a cachix cache.

For instance, I added the `static-haskell-nix` cache:

[code]

Later, I wanted to remove it, so I looked for a command like `cachix remove` or `cachix disable`, but it didn't exist.

I guess the command would simply just remove the `/etc/nixos/cachix/static-haskell-nix.nix` file (as well as reminding you

[2020-01-12 21:01] tscholak opened #268 "cachix build error on nix"
[code]
...
[code]
this is on my Mac, but we are also seeing this issue in our hasktorch builds, https://github.com/hasktorch/hasktorch/runs/383529957

[2020-01-12 21:03] domenkozar commented on #268
This is fixed in nixpkgs master, but channel is blocked on updating. Hope we can resolve it tomorrow.

[2020-01-12 21:04] tscholak commented on #268
You are the best, thanks for answering so quickly!

[2020-01-12 21:08] domenkozar commented on #268
Follow https://github.com/NixOS/nixpkgs/issues/76927#issuecomment-573310233 for updates :)

[2020-01-12 21:08] #268 closed

[2020-01-13 23:52] tscholak commented on #268
cachix 0.3.5 is now in nixpkgs and solves the issue

[2020-01-19 13:47] domenkozar commented on #261
+ number of seconds it took

[2020-01-20 15:59] 3noch opened #269 "Installation instructions fail when tar and gzip are not on PATH"
I tried to install cachix on a fresh Ln7/nix-docker container and the instructions failed because tar and gzip are not on the PATH default. This is more of an issue with `builtins.fetchTarball` probably but maybe your installation can help through this edge case better.

[2020-01-21 02:30] domenkozar commented on #269
Right :) Will be solved with Nix 2.3 now that those are handled by rust. Still needs git though.

[2020-01-21 02:30] domenkozar commented on #269
Could you paste the error?

[2020-01-28 03:42] domenkozar commented on #217
github actions has been good enough.

[2020-01-28 03:42] #217 closed

[2020-01-28 07:43] anmonteiro commented on #251
I'm getting the same with:

[code]
and the latest cachix action

[2020-01-28 07:49] domenkozar commented on #251
@anmonteiro deleted.

[2020-01-28 07:53] anmonteiro commented on #251
@domenkozar apologies there seems to be another one:

[code]

[2020-01-28 07:57] domenkozar commented on #251
Done :)

On Tue, Jan 28, 2020 at 8:53 AM Antonio Nuno Monteiro <
notifications@github.com> wrote:

[2020-01-30 08:14] roberth opened #271 "Missing nar"
I'm getting many missing nar errors.

For example:

[code]

<details>

[code]

[code]

</details>

More of them can be found on https://hercules-ci.com/github/hercules-ci/hercules-ci-agent/jobs/604

[2020-01-30 09:33] domenkozar commented on #271
Running the migration to clean the leftovers from the CDN switch.

[2020-01-30 14:40] roberth commented on #271
The missing `nar`s have been properly deleted along with their `narinfo`s, however the machines that have encountered this will still have a local cache of the deleted entries.
This can be resolved by deleting the local binary caches on every machine.

[code]

Also because this storepath was a derivation rather than an output, it needs to be reinserted by evaluating again. In Hercules CI this is a

[2020-02-04 03:08] domenkozar commented on #225
Refs #262

[2020-02-05 05:19] domenkozar opened #273 "Exponential backoff"
Currently cachix does a simple linear retry, but it's better to use exponential backoff.

We'll have to be more graceful what is retried - only specific HTTP errors.

[2020-02-20 13:05] domenkozar opened #276 "command to explore cache contents"

[2020-02-20 13:06] Xe opened #277 "Suggestion: command to make the cachix CLI pull nar archives given a base32 hash"
I've wanted to explore nars from CI recently. Being able to do this from the cachix CLI would make my life a lot easier.

Thanks!

[2020-02-20 13:07] #276 closed

[2020-02-20 16:33] anmonteiro opened #278 "Archive returns HTTP 500"
The following URL is returning a 500, making my build fail:
https://anmonteiro.cachix.org/nar/8921ad2e6d87ab5c84c1c79e5798a922b2ca0fd1d7932fac5aa7f22fb63e2e0e.nar.xz

P.S.: I was torn on whether I should have opened this issue or emailed support. What should I do next time?

[2020-02-20 16:35] domenkozar commented on #278
I've seen a couple of these in last few hours and I'm in contact with storage provider. No feedback yet, but I can confirm 500s are permanent.

[2020-02-20 16:44] domenkozar commented on #278
@anmonteiro I deleted the file, could you restart?

[2020-02-20 16:48] anmonteiro commented on #278
Thanks, there's another one: https://anmonteiro.cachix.org/nar/ffedf9f0e39f74e552b2bee18fe5694b39029c41d6fc56683e98ba356126baf9.nar.xz

[2020-02-20 16:50] domenkozar commented on #278
deleted

[2020-02-20 16:58] anmonteiro commented on #278
There's another one: https://anmonteiro.cachix.org/nar/987a4b3c743761d8ba27b007483fb785b4447f6962f3c06c876c6ec72677f6be.nar.xz

I suspect this won't be the last one. I should just invalidate an upstream dependency somehow to force everything to build again.

[2020-02-20 17:00] roberth commented on #278
@anmonteiro that probably won't help. It's also happening on a freshly pushed path for me.

[2020-02-20 17:02] anmonteiro commented on #278
No worries, then. This is for an open source build. I have an S3 binary cache for my private projects which I can use in the meantime. I'll wait until this is resolved. Thanks for the quick responses!

[2020-02-20 17:08] domenkozar commented on #278
@roberth what's the nar url?

[2020-02-20 17:29] anmonteiro commented on #278
@domenkozar thanks, the build actually passed now!

Feel free to close this one from my side.

[2020-02-20 18:22] domenkozar commented on #278
The fix will be deployed by storage provider at 2pm PST, in about 4h.

[2020-02-21 01:28] domenkozar commented on #278
I'm no longer seeing 500s and storage provider confirmed the issue has been fixed.

[2020-02-21 01:28] #278 closed

[2020-02-21 14:03] arianvp opened #279 "--nixos-folder argument ignored?"
I'm trying to let cachix write to an alternative nixos location but this isnt working
[code]

Cachix version is `0.3.5`

[2020-02-22 03:17] domenkozar commented on #279
It seems like only the message is wrong, does your user have write permissions to $(pwd)?

[2020-02-22 04:49] domenkozar commented on #266
Now in master.

[2020-02-22 04:49] #266 closed

[2020-02-24 08:50] arianvp commented on #279
Ah wait. I was running this on `0.3.0`. It seems to work on `0.3.5`

[2020-02-24 09:06] domenkozar commented on #279
I've fixed the error message in https://github.com/cachix/cachix/pull/280

[2020-02-24 09:06] #279 closed

[2020-02-25 18:02] erikarvstedt opened #281 "Request: Add mode to print nix options for 'cachix use'"
Currently it's hard to use cachix-generated nix settings for one-off tasks without touching global nix.conf files.
Also, when setting up temporary cache with `nix-use --mode *-nixconf` , it's impossible to automatically undo the results .

To address this, I propose a new `print` mode for `cachix use`, to be used like this:
[code]
In this mode cachix should print the relevant nix options in the fo

[2020-02-26 08:23] domenkozar commented on #281
Do you think this might be a duplicate of https://github.com/cachix/cachix/issues/126

[2020-02-26 09:37] erikarvstedt commented on #281
Yes, it's an exact duplicate. :cat:

[2020-02-26 09:37] #281 closed

[2020-02-28 09:25] domenkozar commented on #3
https://hackage.haskell.org/package/colourista

[2020-02-28 15:41] domenkozar commented on #228
@Profpatsch is this still an issue? I see lorri is using cachix on macos now: https://github.com/target/lorri/blob/master/.travis.yml#L98

[2020-03-02 01:24] Profpatsch commented on #228
No, we disable cachix on MacOS:
https://github.com/target/lorri/blob/b2f1fe218ab95ce7c89c4b35644d01c4c1f1b21d/.travis.yml.nix#L8-L20

However, I will remove that clause to see what happens with a newer cachix version.

[2020-03-02 11:38] Profpatsch commented on #228
I enabled it in https://github.com/target/lorri/pull/340, and it seems to work just fine now.

[2020-03-02 11:39] domenkozar commented on #228
Thanks! :)

[2020-03-02 11:39] #228 closed

[2020-03-02 20:07] domenkozar commented on #16
Going to implement this in a few weeks.

[2020-03-10 14:16] #251 closed

[2020-03-12 14:55] avdv opened #287 "Could not install NixOS configuration to /etc/nixos/ due to lack of write permissions"
I am using NixOS. Running cachix with `cachix use -m nixos  all-hies` results in:
[code]
Using `strace`, I noticed:
[code]
Seems the directory is expected but missing... `sudo mkdir /etc/nixos/cachix` and retrying worked.

[2020-03-12 18:19] domenkozar commented on #287
So you didn't run the original command with `sudo`?

[2020-03-12 18:23] domenkozar commented on #245
Should be fixed with https://github.com/cachix/cachix/commit/686780fbb9943e78277bd1f201b79ee121dc2f9d

[2020-03-12 18:23] #245 closed

[2020-03-12 18:24] domenkozar commented on #174
This is fixed as you need to press the button now.

[2020-03-12 18:24] #174 closed

[2020-03-12 19:03] avdv commented on #287
Oversimplification, my bad...

Actually, I ran the first command as a normal user additionally with `--nixos-folder $(pwd)/foo`, with this directory existing. But the command failed as described above and only worked after I created the missing cachix folder.

[2020-03-23 19:39] nmattia opened #288 "Something went wrong"
When pushing:

[code]

more info in https://github.com/nmattia/naersk/pull/89/checks?check_run_id=528292352

[2020-03-23 19:53] nmattia commented on #288
Looks like both ends are having issues:

[2020-03-24 08:29] domenkozar commented on #288
There were a few hundred failures last night due to storage provider in two bursts.

[2020-03-24 08:29] #288 closed

[2020-03-29 14:19] fghibellini commented on #287
Same problem.
Creating `cachix` folder withing `/etc/nixos` fixed it.

[2020-04-03 07:53] domenkozar commented on #9
See also `pkgs.closureInfo`

[2020-04-03 07:56] domenkozar commented on #184
Now that Cachix pulls in Nix and builds with Rust, static builds are going to be quite some work.

Might use something like a tarball instead: https://pastebin.com/ev4M6Kff

[2020-04-03 11:06] nh2 commented on #184
Static rust builds don't seem too impossible. Alpine seems to do it successfully.

Can you elaborate a bit on how Cachix pulls in nix? Just in the closure? Is it for the patch that you need on Nix < 2.4?

[2020-04-03 11:37] domenkozar commented on #184
Cachix uses inline-c-cpp to invoke Nix logic, so it's compiled with.

[2020-04-03 21:24] domenkozar commented on #287
Fixed in https://github.com/cachix/cachix/commit/b19af3300db0e91d0277d626cfce4371f339a444

[2020-04-03 21:24] #287 closed

[2020-04-05 18:08] dadada opened #289 "UnknownCA: generate-keypair fails to connect to API"
When trying to run `cachix generate-keypair dadada` after successfully adding a token using `cachix authtoken`, cachix returns with the connection error below.

Connecting through curl or firefox appears to work just fine. Also tried running
`nix-shell -p cachix --pure --run 'cachix generate-keypair dadada'`, but to no avail.

Maybe some weird issues with Cloudflare? I'm connecting from somewhere

[2020-04-05 19:11] domenkozar commented on #289
How did you install Cachix? What OS are you using?

[2020-04-05 20:08] domenkozar opened #290 "Clearer error when "you need to export CACHIX_SIGNING_KEY""
- link to where the user can do that
- explain what are the alternatives

[2020-04-05 20:28] dadada commented on #289
I'm using NixOS 19.09 and tried both the version from nixpkgs master and https://cachix.org/api/v1/install

On April 5, 2020 9:11:32 PM GMT+02:00, "Domen Kožar" <notifications@github.com> wrote:

[2020-04-05 20:50] dadada commented on #289
I had `security.pki.certificateFiles` in my `/etc/nixos/configuration.nix` and am completely unsure why this had any effect, but it works after removing that. I have no other issues related to this setting.

[2020-04-05 20:50] #289 closed

[2020-04-08 08:51] domenkozar opened #291 "Use cachix caches as a single HTTP endpoint"
Currently Nix is not designed well to handle a bigger number of binary caches (see https://github.com/NixOS/nix/issues/3019).

Cachix should mitigate that until Nix is fixed by using something like https://cachix.org/caches/a/b/c/ when caches a, b and c are configured.

This will mean only one HTTP request for all Cachix caches.

[2020-04-09 09:08] domenkozar opened #292 "Add pubic signing key"
Users might have generated signing key before they started using cachix, so instead of generating keypair, allow just adding the public key

[2020-04-09 09:36] domenkozar opened #293 "MustBeRoot error is wrong for NixOS"
as one can't change `/etc/nix`

[2020-04-09 09:41] domenkozar opened #294 "make local netrc only user readable"
We can't do that for global netrc as per https://github.com/NixOS/nix/issues/2933, but the local one could be modded to 600.

[2020-04-20 08:28] 573 opened #295 "(Question) Possible to make aarch64 build of cachix ?"
I would love to use cachix on my phone but to due to spare storage resources also build it on a remote machine using pkgsCross. What I tried doing for starters was:

[code]

giving me (with disabled haddock):

ghc: this operation requires -fexternal-interpreter
killing process 15263: No such process
builder for '/nix/store/v6afwd1wz20w9zlwwgr47y024r5nszk8-generics-sop-0.5.0.0-aarch64-unknown-linux

[2020-04-20 09:25] domenkozar commented on #295
This will need working aarch64 ghc compiler in nixpkgs, I can give it a try.

[2020-04-20 09:27] roberth commented on #295
This should work. Hercules CI agent compiles with it, which includes cachix.

[2020-04-20 09:30] domenkozar commented on #295
Blocked by https://github.com/NixOS/nixpkgs/issues/66277

[2020-04-20 09:49] vcunat commented on #295
In the meantime, the default ghc on stable branches has binaries: [20.03](https://hydra.nixos.org/job/nixos/release-20.03/nixpkgs.haskell.compiler.ghc865.x86_64-linux), [19.09](https://hydra.nixos.org/job/nixos/release-19.09/nixpkgs.haskell.compiler.ghc865.x86_64-linux).

[2020-04-20 09:50] domenkozar commented on #295
Ah, yes: https://hydra.nixos.org/build/116518901

[2020-04-20 09:54] domenkozar commented on #295
@573 I'll fix this.

[2020-04-22 11:54] domenkozar commented on #184
I'm thinking of https://cachix.org/api/v1/install returning something like:

`builtins.storePath /nix/store/...` where the store path would be determined by a specific commit per each platform.

That way linux, macos and aarch64 would take trivial amount of time to evaluate and for the rest there would be fallback to source.

It also would just substitute from cache.nixos.org and there's no need t

[2020-04-22 11:58] nomeata commented on #184
`builtins.storePath` is not documented in https://nixos.org/nix/manual/#ssec-builtins :-(

[2020-04-22 12:04] zimbatm commented on #52
Another strategy used by https://github.com/cachix/cachix-action is:

[code]

The nice thing about this approach is that it doesn't need to carefully make sure that all the outputs or collected. Which can be quite difficult when using import-from-derivation or any nix wrappers.

[2020-04-22 12:04] domenkozar commented on #184
Opened https://github.com/NixOS/nix/issues/3526

[2020-04-22 14:09] vyorkin opened #296 "How to use with NixOS and nix-shell with nix.post-build-hook?"
Currently I have the following configuration:

1. The `upload-to-cachix.sh` script that is used for `post-build-hook`:
[code]

2. In my NixOS configuration I have these lines:
[code]

It works (successfully pushes binary caches) when I run `sudo nixos-rebuild switch`, but it fails when I start a `nix-shell` as a non-root user:
[code]

I would appreciate if anyone could provide an example of settin

[2020-04-22 14:34] vyorkin commented on #296
I've figured it out:
[code]

[2020-04-22 14:34] #296 closed

[2020-04-22 14:35] vyorkin commented on #296
It might make sense adding this to the README, but I'm not sure :)

[2020-04-22 15:35] domenkozar commented on #296
See #246

[2020-04-24 13:29] domenkozar opened #297 "Docker image"
Provider a docker image with cachix installed.

[2020-04-25 15:32] louwers commented on #293
It also should add an extra newline after the message.

[code]

[2020-04-25 20:25] domenkozar commented on #293
That's fixed in master, but thanks for the report!

[2020-04-26 17:12] NorfairKing commented on #221
Yes please!
I'm using >10 cachix caches and it's taking a bit of time to query each of them.

[2020-04-27 23:43] Infinisil commented on #53
How about having a command like
[code]

Which first starts watching the Nix store for new derivations, then calls the given command, and stops watching and finishes uploading when the command exits.

[2020-04-29 09:29] domenkozar commented on #53
I like that since it can be then used everywhere regardless of the integration.

[2020-04-29 14:16] bflyblue commented on #53
I really like that too and would love to see support for `push-watch`! :)

[2020-04-29 17:00] domenkozar commented on #291
Duplicates https://github.com/cachix/cachix/issues/221

[2020-04-29 17:00] #291 closed

[2020-05-01 15:26] razvan-flavius-panda commented on #173
Getting this error also:

[code]

[2020-05-01 15:36] domenkozar commented on #173
@razvan-flavius-panda it seems like in your case, the problem is that `nix-default` fails to execute properly due to `error: syntax error, unexpected $end, at /home/neo/default.nix:1:1`

[2020-05-01 15:40] razvan-flavius-panda commented on #173
@domenkozar I get that, but I do not know what minimal configuration it expects there. I never worked with that file before.

[2020-05-01 15:42] domenkozar commented on #173
Are you saying that you would like to know what the contents of `nix-build` should be?

[2020-05-01 15:47] razvan-flavius-panda commented on #173
@domenkozar My goal is to set up cachix so I can use it on my laptops. I followed the cachix instructions, and I got this failure when running `nix-build | cachix push razvan-flavius-panda0ftagi.`

And `error: syntax error, unexpected $end, at /home/neo/default.nix:1:1` is telling me that the content of `default.nix` is wrong. So my question is, what would be a minimal content for `default.nix` wh

[2020-05-01 16:50] razvan-flavius-panda opened #300 "WSL - warning: SQLite database '/nix/var/nix/db/db.sqlite' is busy"
When running `nix-build | cachix push razvan-flavius-panda0ftagi` under WSL Ubuntu 20.04 I get following warnings every some period of time and never ending:

[code]

In `/etc/nix/nix.conf` I have:

[code]

[2020-05-01 23:43] puffnfresh commented on #300
Known issue with WSL1, you should try WSL2

[2020-05-02 09:50] razvan-flavius-panda commented on #300
@puffnfresh Oh no. I thought that Windows 10 was using WSL 2 being 2020 May and all.

[2020-05-02 10:11] puffnfresh commented on #300
You can check version with:

[code]

[2020-05-02 10:16] razvan-flavius-panda commented on #300
@puffnfresh That command only prints the help output for me.

[2020-05-02 11:10] puffnfresh commented on #300
@razvan-flavius-panda that means you're on a version of Windows without WSL 2. You need to be on 18917 or higher.

[2020-05-02 12:26] razvan-flavius-panda commented on #300
@puffnfresh Thank you. I will have a look, been busy. I will enable the Windows Insider program to make sure I get WSL 2.

[2020-05-02 12:46] razvan-flavius-panda commented on #300
I enabled Windows Insider, did an update and I am still on version: 18363.815

[2020-05-02 13:07] razvan-flavius-panda commented on #300
@puffnfresh Aight, now it started seeing the insider updates and is installing 19619.100. Will tell you how it goes.

[2020-05-04 08:03] domenkozar commented on #173
@razvan-flavius-panda that depends what exactly would you like to push to cachix? Your whole machine?

[2020-05-04 12:10] razvan-flavius-panda commented on #173
@domenkozar I was trying to run: `nix-build | cachix push razvan-flavius-panda0ftagi`

From my understanding of that command, it should have cached (based on my local builds) and enabled the cache also.

[2020-05-05 18:12] veprbl opened #301 "Non-standard store location support"
Would be nice to get support for this. Perhaps, should default to "/nix/store" unless `NIX_STORE_DIR` environment is set.

[2020-05-06 16:56] Gerschtli opened #302 "Cannot upload to binary cache"
Hey everyone,

I tried to upload a package to cachix (like several times before), but now I get this error.. I exported `CACHIX_SIGNING_KEY` but I still get this error. Could someone help me?

`test.nix`:
[code]

[code]

[2020-05-06 17:24] domenkozar commented on #302
Are you sure that you have correct signing key? That usually means it's incorrect.

[2020-05-06 17:39] Gerschtli commented on #302
I'm really sure.. but is there a way to get the right token?

[2020-05-06 17:41] domenkozar commented on #302
It was saved to `~/.config/cachix/cachix.dhall` on the machine you generated.

If you don't have access anymore you can create a new cache and use both of the caches.

Or if you don't need the old cache just delete it and create the same one again.

[2020-05-06 18:00] Gerschtli commented on #302
Ah thank you. Apparently I used the authToken instead of the signing key.. Sorry for the confusion and big thank you for your help!

[2020-05-06 18:00] #302 closed

[2020-05-10 17:20] domenkozar commented on #184
Similarly in Hydra https://github.com/NixOS/hydra/blob/master/src/lib/Hydra/View/NixExprs.pm

[2020-05-10 17:32] domenkozar commented on #300
@razvan-flavius-panda please open an issue on https://github.com/NixOS/nix if you have issues with WSL.

[2020-05-10 17:32] #300 closed

[2020-05-12 09:54] domenkozar commented on #173
@razvan-flavius-panda `nix-build` will actually build all packages in `default.nix`.

I'm trying to understand your motivation: do you want to push all your local builds to cachix?

[2020-05-12 10:22] razvan-flavius-panda commented on #173
@domenkozar What I wanted to do and I thought I was doing was push any local build I did so others can use it and also enable so that I can download cached builds on my machine.

I am doing Haskell programming and having a build cache would be amazing. And cachix seems to be what I want. I just did not figure out yet how to use it, got side-tracked.

[2020-05-12 13:21] domenkozar commented on #184
@zimbatm pointed me to https://github.com/zimbatm/nix-experiments/tree/master/nix-snapshot which is something I'd like to play with for this use case.

[2020-05-14 11:31] domenkozar commented on #255
See latest proposal in #53

[2020-05-17 14:22] vyorkin opened #303 "How to setup 2 hosts to use 2 different binary caches?"
Currently there is no way to generate 2 keypairs, so when I try to generate another signing key for my second binary cache the `cachix generate-keypair mysecondbincache` says:
[code]

But if I try to use the same signing key that I use for my first binary cache it says:
[code]

Do I unterstand correctly that this is not supported currently or I just don't understand how to setup it up?

[2020-05-18 19:28] domenkozar commented on #303
Each binary cache can have one signing key.

What are the names for your binary caches? You can verify on https://mycache.cachix.org if there is a public key.

[2020-05-21 13:50] domenkozar commented on #303
@vyorkin does that answer your question?

[2020-05-24 00:07] razvan-flavius-panda commented on #52
@domenkozar Hi, has this been documented? I have the same issue right now, trying to push all `nix-shell` build dependencies to cachix.

[2020-05-24 00:12] razvan-flavius-panda commented on #52
Will the following warning cause any issues?

[code]

[2020-05-29 18:39] peti opened #308 "test suite failure in current Nixpkgs master"
Citing from https://hydra.nixos.org/build/120802095:

[code]

[2020-05-31 21:54] gvolpe opened #310 "Nix-shell call doesn't seem to pick up binaries from Cachix"
Hi @domenkozar ,

I'm trying to use Cachix actions [here](https://github.com/profunktor/redis4cats/pull/305/checks?check_run_id=725600751) but the binaries are not being picked up from Cachix or at least I only see outputs like the one below:

[code]

According to [this comment](https://github.com/cachix/cachix-action/issues/13#issuecomment-567953646) calls to `nix-shell` should also be supported

[2020-06-01 12:13] domenkozar commented on #310
@gvolpe interesting, seems like not everything is getting pushed. Don't understand yet why. Could you try using `cachix-action@master`?

[2020-06-01 12:20] gvolpe commented on #310
Thanks for the quick response @domenkozar !

I just tried with `master` but got the same output:

[code]

Here's the corresponding job: https://github.com/profunktor/redis4cats/pull/305/checks?check_run_id=727255726

[2020-06-01 15:45] domenkozar commented on #310
That's weird. I'll take a closer look tomorrow.

[2020-06-02 09:13] #308 closed

[2020-06-02 10:07] domenkozar commented on #295
I've posted an update to https://github.com/NixOS/nixpkgs/issues/66277#issuecomment-637429616

[2020-06-02 11:54] domenkozar commented on #310
These are not substituted due to `allowSubstitutes = false;` set on the derivation. You can read more about it here https://nixos.org/nix/manual/#sec-advanced-attributes

Note that all of the derivations are in your cachix cache.

This flag is usually used as an optimization - it's quicker to build it locally than to substitute.

[2020-06-02 12:11] gvolpe commented on #310
Thanks @domenkozar !

Does this mean that there's no point in using Cachix for my simple Nix shell?

[2020-06-02 12:19] domenkozar commented on #310
Probably for the given shell there's not point really.

If you add more packages that need compiling it would help.

[2020-06-02 12:19] #310 closed

[2020-06-02 13:17] #290 closed

[2020-06-02 13:18] domenkozar commented on #293
Duplicate of https://github.com/cachix/cachix/issues/262

[2020-06-02 13:18] #293 closed

[2020-06-02 13:18] domenkozar commented on #225
Duplicate of https://github.com/cachix/cachix/issues/262

[2020-06-02 13:18] #225 closed

[2020-06-02 13:20] domenkozar commented on #129
Fixed in 54e4e433fbda10d51f3149462d0fcf7e6088c044

[2020-06-02 13:20] #129 closed

[2020-06-02 13:41] domenkozar commented on #191
Actually it's better not to, since the endpoint is not idempotent.

[2020-06-02 13:41] #191 closed

[2020-06-03 09:39] #262 closed

[2020-06-03 09:47] domenkozar commented on #56
All of the problems have been addressed here, except if you don't install cachix as root - not sure how to fix that.

[2020-06-03 09:47] #56 closed

[2020-06-03 09:57] domenkozar commented on #60
Once #298 lands, this has become more feasible.

[2020-06-03 10:33] domenkozar commented on #126
I gave this a go in a704c7a4cece9ad94e41b1e8d5d2cd700ece9a78, but it's not really feasible to implement until https://github.com/NixOS/nix/issues/2149 is implemented in Nix.

[2020-06-17 15:32] domenkozar opened #313 "Warn: groups found @wheel"
Cachix should support checking if user is part of a group

[2020-06-17 16:34] jkachmar commented on #313
My reading of the original issue was that the user should be a part of `nix.trustedUsers`; is this correct or is there some nuance I’m missing?

[2020-06-17 19:10] domenkozar commented on #313
There's a warning in between:

[code]

So essentially that user is trusted, but Cachix will still recommend setting trusted users because it doesn't interpret groups.

[2020-06-18 09:53] jappeace commented on #52
@razvan-flavius-panda

It means the garbage collector will clean the result. But it doesn't matter since you pushed it to cache anyway.

[2020-06-19 10:52] domenkozar opened #314 "Debugging binary cache configuration problems"
- In our project dir we set the `NIX_CONF_DIR` env variable to point towards a project configuration that sets the subsituters. However my user nix-configuration also contained a `trusted-public-keys` entry that overwrote the project-specific one.

[2020-06-24 13:35] domenkozar commented on #295
Hopefully this will get merged on Friday and this can be fixed.

[2020-06-28 16:28] turion commented on #257
Do you mean this problem:

[code]

[2020-06-28 16:36] domenkozar commented on #257
Nope - upgrade to Cachix 0.3.8 to get a better error.

[2020-06-28 20:33] turion opened #318 "Option -c doesn't work?"
I'm trying the following:

[code]

Why would I need permissions to alter these files? I'm on nixos.

[2020-06-29 08:37] domenkozar commented on #318
Need to improve the wording, but it's not about permission to alter files, but for Nix to use binary caches.

[2020-07-05 13:50] jonascarpay commented on #259
FWIW; I have a [home manager module for managing caches](https://github.com/jonascarpay/nix/blob/master/caches.nix) that allows me to write
[code]
It doesn't use the `cachix` tool at all, it calls into the API directly with nix.
I don't know if this works well enough for upstreaming into HM, but it works well enough for me and is at least a POC.

[2020-07-05 16:42] domenkozar commented on #259
This is somewhat related to #239

[2020-07-06 11:37] domenkozar commented on #318
@turion does that make more sense? :)

[2020-07-06 11:45] turion commented on #318
I'm not sure, but I'll gladly review the new wording :)

[2020-07-06 13:13] jonascarpay commented on #239
I adapted the HM module I posted [here](https://github.com/cachix/cachix/issues/259#issuecomment-653891358) to nixos, you can find it [here](https://github.com/jonascarpay/nix/blob/master/cachix.nix).

Might be worth upstreaming somewhere at some point, but a quick way to incorporate it in your config is something like:
[code]

[2020-07-07 09:43] 573 commented on #239
@jonascarpay with the config in my home-manager config as you have in https://github.com/jonascarpay/nix/blob/3840e6c20ff46e173600057eb490f8005f0787a7/home.nix (using `caches.cachix` instead of `cachix`) I get:

Please move the above files and try again or use -b <ext> to move automatically.

which doesn't seem appropriate here as the values should automatically be merged, shouldn't they ?

[2020-07-07 10:14] jonascarpay commented on #239
They don't get merged automatically. `.config/nix/nix.conf` is (normally) completely independent from your nix configuration. The module I posted makes it part of your nix config by simply having home manager generate the file. If you want to preserve your existing configuration, you'll have to move existing caches to `caches.cachix` or `caches.extraCaches`.

[2020-07-07 11:49] 573 commented on #239
@jonascarpay basically OK for me.
If I have additional entries in nix.conf, i. e. extra-platforms = ..., substituters = ..., trusted-public-keys = ..., builders-use-substitutes = ..., builders = ... I still would have to migrate them to home.nix as well.

[2020-07-07 13:40] jonascarpay commented on #239
It uses the `home.file.nixConf` attribute to write your conf file, and if you define that elsewhere it will concat both. So, you can do this:
[code]
Be warned though, if you use this to define an invalid nix.conf you can get to a point where your home-manager breaks, and you have to manually remove the symlink.

[2020-07-07 18:47] 573 commented on #239
@jonascarpay fine with me.

[2020-07-10 04:30] lf- commented on #16
Hi @domenkozar what's the status on this feature right now? Is there a viable workaround? I have a /pile/ of build time dependencies that I really would like to avoid forcing anyone else to build as it takes over an hour to build all of them. This is also going to become a CI problem to compile so much Haskell that's not mine ;-)

[2020-07-10 10:04] con-f-use opened #320 "Typo in error helptext for missing key in `cachix push`"
[code]

The path is probably supposed to be `~/.config/cachix/cachix.dhall`, i.e. missing the dot before `config`.
However, it might be a more severe problem, because for me cachix 0.3.8 cannot find the key in either location, despite it being there. I have to set the `CACHIX_SIGNING_KEY` environment variable until things start to work.

[2020-07-10 12:46] domenkozar commented on #320
Thanks fixed the typo.

There are quite a number of people (including myself) for which this works, so there must be something strange going on in your environment.

[2020-07-10 13:10] domenkozar commented on #16
I'm currently working on https://docs.cachix.org/ to cover different CI integrations and general information people are missing right now, and after that it's this issue.

There is no workaround really at the moment. The overhead of pushing to Cachix shouldn't be that much, are you recompiling dependencies often? Once they are pushed once, they should just stay there.

[2020-07-20 12:46] domenkozar opened #321 "Better handle caches with the same public key entries"

[2020-07-20 13:59] domenkozar commented on #52
This is now documented at https://docs.cachix.org/faq.html#is-there-a-way-to-cache-nix-shell

[2020-07-20 13:59] #52 closed

[2020-07-20 14:00] domenkozar commented on #188
This is now documented at https://docs.cachix.org/faq.html#why-is-nix-not-picking-up-on-any-of-the-pre-built-artifacts

However, I think Cachix could detect if nix-daemon is running and warn that it should be restarted.

[2020-07-21 11:38] domenkozar commented on #146
This is 10th item on my todo list, so current estimate is sometime in September.

I think I'll implement so that you use auth token to upload as well, while Cachix will handle the signing key.

[2020-07-21 11:39] domenkozar commented on #16
Starting the work on this today.

[2020-07-21 11:47] domenkozar commented on #320
@con-f-use did you manage to resolve it?

[2020-07-21 15:01] con-f-use commented on #320
Not really but I also failed to reproduce it on another machine.

[2020-07-21 18:25] domenkozar commented on #295
This is fixed on master, but please wait for hydra to verify in next few days.

[2020-07-21 18:25] #295 closed

[2020-07-21 18:27] domenkozar commented on #320
It would be interesting to see what went wrong so I can produce better instructions how to debug when it happens.

[2020-07-28 14:30] domenkozar commented on #16
https://blog.cachix.org/posts/2020-07-28-upstream-caches-avoiding-pushing-paths-in-cache-nixos-org/

[2020-07-28 14:30] #16 closed

[2020-07-28 21:18] adrian-gierakowski commented on #16
Sounds amazing. Is this implemented on client side?

[2020-07-28 21:28] domenkozar commented on #16
No. Implementing it on server side has quite a few advantages:

- global cache of known entries
- enforced for the whole cache
- quite likely faster as it holds open connection all the time

[2020-07-31 13:19] soareschen opened #322 "Cachix push returns 502 error if more than ~2000 dependencies need to be pushed"
Using the command `nix-store -qR --include-outputs $(nix-instantiate shell.nix) | cachix push <my-store>`, if the pipe result has more than around 2000 dependencies that need to be pushed, the API endpoint at cachix.org returns HTTP 502 bad gateway error served from Cloudflare.

The current workaround is to save the artifact list into a file, and split it in 2000 lines to be pushed separately. Nix

[2020-07-31 14:56] domenkozar commented on #322
This should be fixed as of a few minutes ago - could you try again?

[2020-08-01 06:37] 573 commented on #295
Tested on my phone and can confirm that cachix 0.3.8 builds on aarch64 via ghc883.
Thanks.

[2020-08-03 07:32] colemickens opened #323 "Improve UX of using the cache and adding it in one step on NIxOS"
I've attempted to make [my overlay](https://github.com/colemickens/nixpkgs-wayland) as easy to use as possible with a cache on Cachix.

However, it seems that if the user follows my steps, they are likely to run `cachix use ...` on a NixOS machine. This did not add it to the user's `$HOME/.config/nix/nix.conf` and instead instructs the user to add it to their `configuration.nix`.

If they do so AN

[2020-08-03 09:58] soareschen commented on #322
Thanks for the quick fix! I don't currently have that many dependencies to push, but it seems to work. Closing this then.

[2020-08-03 09:58] #322 closed

[2020-08-03 13:35] domenkozar commented on #320
Closing as there's no way to reproduce.

[2020-08-03 13:35] #320 closed

[2020-08-10 22:26] fzakaria commented on #52
@zimbatm  @domenkozar @edude03 the only issue with your suggestion above & in the cachix documentation is it includes all transitive dependencies to build; which is **too broad**

Consider this _simple_ example:
[code]

Ideally, I'd only want to cache **chromium** for my nix-shell.

However if you run the snippet given you get _way more_:
[code]

[code]

Is there a sensible way to _only query_ the

[2020-08-11 08:08] domenkozar commented on #52
That could be fixed by making shell.nix build a noop.

Currently there's no easy way to query that in Nix: https://github.com/NixOS/nix/issues/1245

[2020-08-11 14:34] fzakaria commented on #52
@domenkozar I suspect a noop won't be enough.

A dummy file should be the derivation output that just has the list of the `buildInputs` in it.

This is because Nix greps for the buildInput hashes to determine the runnable set.

That might be a worthy improvement to mkShell to always output.

[2020-08-11 15:50] fzakaria commented on #52
@domenkozar and others -- I opened https://github.com/NixOS/nixpkgs/issues/95191 with a proposed solution.
Please let me know what you think.

[2020-08-11 17:02] fzakaria commented on #52
For those reading this pullrequest here is a much **saner** transitive set to cache for **shell.nix**

[code]

[2020-08-18 17:14] idmyn opened #326 "unable to download 'https://cachix.org/api/v1/install': SSL peer certificate or SSH remote key was not OK (60)"
When I run `nix-env -iA cachix -f https://cachix.org/api/v1/install`

[code]

Not sure what's going on here, but I guess an SSL cert might have expired..? Or it's just my machine - not sure.

[2020-08-19 15:37] domenkozar commented on #326
Do you still have this issue? There was a couple of minutes of downtime yesterday.

[2020-08-19 16:57] idmyn commented on #326
Yeah I'm still having the issue. I'm digging around and it seems like it probably falls into the broader category of macOS SSL/cert errors like this one: https://github.com/NixOS/nixpkgs/issues/70939

I'd appreciate any tips, but I understand this might be a weird issue specific to my machine (although I'm working with a pretty fresh macOS install)

[2020-08-20 07:25] idmyn commented on #326
solved it: https://discourse.nixos.org/t/ssl-peer-certificate-or-ssh-remote-key-was-not-ok-error-on-fresh-nix-install-on-macos/3582

My nix profile wasn't set up properly (NIX_SSL_CERT_FILE was missing) 😅

[2020-08-20 07:25] #326 closed

[2020-08-31 16:17] domenkozar commented on #254
Since then it prints storage size, do you think that suffices?

[2020-09-03 15:57] asheshambasta commented on #267
I've also stumbled across this. And while I hate adding a "I've seen this too" comment; removing the file still doesn't get cachix to start ignoring that particular entry.

Now; running any nix command results in:
[code]

How does one then remove a cache from cachix completely?

[2020-09-03 17:05] roberth commented on #267
Seems like you've also configured your user, not just your system. You can edit out the wrong bits from `substituters` and `trusted-public-keys` in `~/.config/nix/nix.conf`. Private cache users should also edit their `~/.config/nix/netrc`.

[2020-09-03 17:38] domenkozar commented on #297
https://github.com/niteoweb/nix-docker-base

[2020-09-04 09:17] asheshambasta commented on #267
Thanks @roberth. But I'm still a little confused. I only removed all-hies.nix from the cachix directory; but why are the warnings also issued for cache.nixos.org? Does that mean I also need to remove them? Why/How did deleting the all-hies.nix file cause these warnings?

[2020-09-09 14:06] domenkozar commented on #146
#330 and #329 are steps into this direction together with https://app.cachix.org/personal-auth-tokens,
still need a few more things to do before Cachix can handle the signing key.

*yay, my estimate was correct*

[2020-09-16 09:55] soareschen opened #333 "Allow pushing of artifacts from other cache sources"
Use case: Our Nix packages are built on top of Haskell.nix using cache sources from `https://iohk.cachix.org` and `https://hydra.iohk.io`, and we push the Nix artifacts to our own Cachix store. The issue is now we not only have to ask our Nix users to `cachix use` our own Cachix store, but also run `cachix use iohk` and then manually add `https://hydra.iohk.io` to the user's `~/.config/nix/nix.con

[2020-09-17 12:21] domenkozar commented on #333
Hi @soareschen,

what kind of CI setup do you have?

`cachix push` will push the whole runtime closure to your cache, but not build dependencies.

[2020-09-17 12:29] domenkozar opened #334 "cachix push --dry-run"
To see what would be uploaded.

[2020-09-22 15:13] bbigras commented on #20
If we use a tool like [nix-build-uncached](https://github.com/Mic92/nix-build-uncached) (which doesn't build stuff already in the cache), I'm guessing that the tool queries the cache to determine if something needs to be built or not.

Could the garbage collection uses those queries (and downloads) to determine if something is used or not?

[2020-09-23 15:06] domenkozar commented on #184
As of today, Cachix will install in a few seconds for Linux and macOS. Using https://github.com/cachix/cachix-action should take ~4s.

Currently that's achieved by generating fake derivation that Nix won't know how to build from source, but it will find it in binary cache https://cache.nixos.org.

You can see how that works by downloading https://cachix.org/api/v1/install and inspecting `default.n

[2020-09-23 15:07] domenkozar commented on #184
This can be further reduced by making `nixMinimal` that Cachix would depend on, reducing the closure significantly by just removing aws sdk.

[2020-09-26 19:46] bbigras opened #338 "feature request: set last accessed for narinfo requests"
as discussed on https://github.com/Mic92/nix-build-uncached/issues/22

When using [nix-build-uncached](https://github.com/Mic92/nix-build-uncached), not everything is build and pushed to cachix every time so the garbage collection could remove important stuff.

[2020-09-27 08:26] domenkozar commented on #20
Moved to #338

[2020-09-27 15:53] DavHau opened #339 "`push -w` on remote builder leads to system crash (out of memory)"
Hey, thanks for cachix!

I'm currently integrating it into my remote builder infrastructure.
To push my build results directly to cachix, I run `cachix -w --compression-level 0 {cache}` on the remote builder.

Problem:
As soon as I start a bigger build, cachix starts endless amount of processes, depleting the systems memory after a short time resulting in a total crash of the remote builder.

Not

[2020-09-27 17:01] domenkozar commented on #339
Could you make a screenshot of processes/ resource usage? Some more information would help to better understand what's going on.

[2020-09-28 20:14] domenkozar commented on #338
I've deployed this to production, will monitor for another day or two (since now requesting narinfo means a write) before announcing this publicly.

[2020-09-28 20:17] bbigras commented on #338
Awesome. Thank you so much!

[2020-10-01 08:29] domenkozar commented on #339
@DavHau I'm happy to help with this, but need to be able to reproduce this. Maybe we could do a shared video session?

[2020-10-01 08:30] domenkozar commented on #338
Looks good! Going to publish a blog post today to explain the changes.

[2020-10-01 08:30] #338 closed

[2020-10-01 16:22] bbigras commented on #338
It seems to work fine for me so far. Thanks again!

[2020-10-02 15:29] DavHau commented on #339
Sorry for the delay. Here a screenshot of htop while provoking the previously explained behaviour:
![image](https://user-images.githubusercontent.com/42246742/94938784-82a3b000-04fb-11eb-88af-df1df8733c11.png)
It just goes on and on like this, if i scroll down.

And shortly after, the machine is crashed:
![image](https://user-images.githubusercontent.com/42246742/94938985-b7b00280-04fb-11eb-9f95-a

[2020-10-05 07:57] #124 closed

[2020-10-05 08:01] domenkozar commented on #339
This would be solved with #53 at least for better ergonomics.

Just to be clear, what does `build` mean in this context, `nix-build` invocation?

If you can prepare a docker image that would be ideal to observe. Or a video session would work :)

Does that happen even if you do `cachix push` afterwards?

[2020-10-05 15:23] #313 closed

[2020-10-08 16:15] domenkozar commented on #323
Refs #239

[2020-10-09 02:12] GTrunSec opened #340 "how to push binary with nix build and nix develop"
This question related to the flakes feature.

- nix develop (nix 3.0)
- nix build (nix 3.0)
- https://nixos.wiki/wiki/Flakes#Pushing_Flake_inputs_to_Cachix (it does not work. only pushed the flake input sources to cachix instead of binary cachix)
[code]

[2020-10-09 14:07] domenkozar commented on #340
@GTrunSec how about `nix path-info --json | jq -r '.[].path | cachix push $cache_name'`

Note that this will only copy outputs, not full build closure.

[2020-10-10 01:05] GTrunSec commented on #340
thanks, I see.  it has solved my question about `nix build`. how about nix develop? similar to how to push cachix in  `nix-shell`

[2020-10-12 11:30] avanov commented on #52
What is the right way of using this pipe with `nix copy`? it reports `error: path '/nix/store/fzmkblzbsmqlsw7dvch92k92mp7q5vlh-nix-shell' is not valid` for me

[2020-10-13 13:59] domenkozar commented on #340
`nix develop --profile dev-profiile && cachix push mycache dev-profile`

[2020-10-13 23:08] GTrunSec commented on #340
Thanks for your answer

[2020-10-13 23:08] #340 closed

[2020-10-14 14:11] soareschen commented on #333
This seems to be solved now, as I might be previously using the wrong approach to cache the Nix shell dependencies. This is fixed after updating my Cachix command to as follows:

[code]

[2020-10-14 14:11] #333 closed

[2020-10-14 16:48] domenkozar commented on #14
What could work is that `shell.nix` would set something like:

[code]

and then running something like `cachix use --nix-conf-dir=$pwd/nix`.

I haven't tested this but it might just work?

[2020-10-16 13:48] domenkozar opened #341 "--watch: print exception"
`confOnHandlerException` is now part of hfsnotify-0.4.0

[2020-10-29 14:54] domenkozar commented on #301
@veprbl what's the use case?

[2020-10-29 14:55] domenkozar commented on #20
This has been around for a while: https://docs.cachix.org/garbage-collection.html

Let me know if there's something misisng or that could be improved.

[2020-10-29 14:55] #20 closed

[2020-10-29 14:59] domenkozar commented on #8
This is really up to the library that cachix is using.

[2020-10-29 14:59] #8 closed

[2020-10-29 16:07] veprbl commented on #301
@domenkozar It is to support installations to user's home directory, this is commonly needed for systems that don't allow creating "/nix" and don't allow User Namespaces. My use case is to use cachix on HPC clusters.

[2020-10-29 16:10] domenkozar commented on #301
Oh HPC Clusters! That would be great.

[2020-11-03 02:11] colemickens opened #343 "support a more selective watch mode via a queue+socket+post-build-hook"
Idea:

I really want to capture build outputs as they're produced, but I don't really like that `cachix watch` picks up things from unrelated builds.

It seems like this be fixed by utilizing a post build script. However, I don't like configuring it on the daemon because it's one extra step to do on remote builders, it would catch "all" builds again, and I try to keep my "buildargs" portable so th

[2020-11-03 08:24] expipiplus1 opened #344 "The documentation for the latest version of this package is missing on Hackage."
It's possible that Hackage wasn't able to build the package.

Is it possible for you to manually upload the package using `cabal upload --doc`, please? Note that this requires cabal-install >= 1.24

Thanks!

[2020-11-03 11:43] domenkozar commented on #343
Is post-build-hook executed on the client or daemon side?

[2020-11-03 11:43] domenkozar commented on #343
(you probably mean cachix where you say cargo?)

[2020-11-03 12:00] colemickens commented on #343
yes, `s/cargo/cachix/g`, updated the original post.

I'm not sure if it's executed client side or daemon side, but if I stash `whoami` in the post-build-hook into a file and then check it, it says `root`...

[2020-11-03 12:38] domenkozar commented on #343
Yeah I agree with this and I plan to experiment how feasible it is. I've laid down a plan in #53 and this is on the horizon soon!

[2020-11-03 15:56] domenkozar commented on #301
This is also the first step for #85

[2020-11-03 15:59] domenkozar commented on #344
[code]

Do you have any idea how to fix this for hackage?

[2020-11-03 16:26] expipiplus1 commented on #344
No idea, sorry :+1:

I don't rely on the Hackage builder at all.

Here's a nix expression for generating Hackage compatible doc tarballs:

[code]

[2020-11-04 13:15] domenkozar commented on #344
It's now part of https://hackage.haskell.org/package/cachix, note that the API is needs quite some cleaning up and the version reflect CLI stability, not Haskell API PVP.

[2020-11-04 14:50] expipiplus1 commented on #344
Thank!

On Wed, Nov 4, 2020, 9:16 PM Domen Kožar <notifications@github.com> wrote:

[2020-11-10 16:17] domenkozar commented on #143
I've just launched https://blog.cachix.org/posts/2020-11-09-write-access-control-for-binary-caches/ - does that resolve your issue?

[2020-11-10 16:17] domenkozar commented on #146
@colemickens does https://blog.cachix.org/posts/2020-11-09-write-access-control-for-binary-caches/ resolve your question?

[2020-11-17 13:16] domenkozar commented on #339
@DavHau could you try Cachix 0.5.1?

 I'd need a way to reproduce this either by having instructions or access to your setup.

[2020-11-23 08:46] #2 closed

[2020-11-23 19:16] domenkozar commented on #343
Here's the plan how this will work:

Using async to start two concurrent threads. The first thread is doing stuff and feeding things to a channel. The second one is consuming from channel and doing things based on those message. To handle done case: `data Message = Done | Do Thing` would be the message passed, so second thread would exit on `Done` case.

I have then yet to figure out how to handle

[2020-11-25 18:26] domenkozar opened #349 "Add flake support"
See also https://github.com/cachix/cachix/issues/340

[2020-11-26 20:57] domenkozar commented on #181
Update: `org:read` permission is no longer necessary for GitHub OAuth unless you're using private caches and would like to share access with cache members.

I'm currently working on login with email, so that should support everyone that doesn't use GitHub.

[2020-11-28 18:40] domenkozar commented on #60
This is now my 6th item in backlog.

[2020-11-28 18:42] domenkozar commented on #89
I'm not sure how feasible this still is, given that API tokens are generated via the web interface. Then you can copy it to whereever you like.

[2020-12-07 10:49] ruuda opened #350 "Retry "cachix use" on 5xx response"
I observed `cachix use «our-cache»` fail on CI, due to Cloudflare returning a 522 response. The full error was (reformatted, content between «» edited by me):

[code]
This was the only output.

It would be nice to retry on such errors.

[2020-12-07 12:49] domenkozar commented on #181
You can now signup using email at https://app.cachix.org/signup

@tomberek @seanomlor @puffnfresh is that good enough for you or would you need bitbucket/gitlab integration as well?

[2020-12-07 15:09] #350 closed

[2020-12-07 17:26] ruuda commented on #350
Thanks for the quick fix!

[2020-12-09 21:48] #273 closed

[2020-12-13 15:15] domenkozar commented on #343
Going to start next week.

[2020-12-19 04:31] Gaelan opened #352 "Display contents of public caches"
There are public caches, such as https://arm.cachix.org, that purport to provide cached builds on a certain system. However, it's often hard to tell what exactly the cache provides, or whether it's up to date - as far as I know, there isn't any better option than adding the cache and seeing if it speeds up your build. I'd be great if the cachix displayed a list of store paths, along with when they

[2020-12-29 15:14] domenkozar commented on #171
This won't ever work due to https://github.com/haskell-servant/servant/issues/1284

[2020-12-29 15:14] #171 closed

[2020-12-29 22:01] domenkozar commented on #352
I've been wanting to do this and my concern is that it makes secrets easier to find in case they are leaked.

At some point we'll have to write a good document on secrets in Nix and then consider that general good practice everyone should follow to avoid leaking them.

[2021-01-05 11:33] domenkozar commented on #343
Queue implemented in https://github.com/cachix/cachix/pull/353, what's left then is the interface for post-build-hook and sockets.

@colemickens are you sure that post-build-hook works when specified on the client?

[2021-01-05 14:28] colemickens commented on #343
Yes. I've implemented this in my own tool that has some other big
differences from cachix. We can share notes later if you want.

On Tue, Jan 5, 2021, 03:34 Domen Kožar <notifications@github.com> wrote:

[2021-01-06 15:35] domenkozar commented on #343
Cool - I'm going to implement `push-run` first and then also the build hook handling. Happy to compare - one thing that cachix does well is that it ensures whole closure is present in the cache.

[2021-01-06 17:19] #53 closed

[2021-01-06 17:20] domenkozar commented on #339
Fixed in #353

[2021-01-06 17:20] #339 closed

[2021-01-06 17:31] domenkozar opened #354 "cachix watch-exec COMMAND"
Starts watching the Nix store for new derivations, then calls the given command, and stops watching and finishes uploading when the command exits.

[2021-01-06 17:31] domenkozar commented on #53
Since this is fixed and foundamentals are in master, I've moved `run-watch` command into https://github.com/cachix/cachix/issues/354 that should be easy to add now.

[2021-01-08 16:15] #354 closed

[2021-01-11 09:56] domenkozar commented on #344
Added also for 0.6.0 and documented steps in 57597791adb7a9d505da900c0e29b66e6afd9f78

[2021-01-11 09:56] #344 closed

[2021-01-11 10:26] expipiplus1 commented on #344
Thanks!

On Mon, Jan 11, 2021, 5:57 PM Domen Kožar <notifications@github.com> wrote:

[2021-01-11 12:42] domenkozar commented on #53
Released both as part of 0.6.0!

[2021-01-17 15:38] domenkozar opened #355 "push whole store parameter"

[2021-02-12 23:37] d1egoaz opened #356 "Error 1016 Origin DNS error - cloudfare"
While trying to download this file
https://nix-community.cachix.org/nar/4f56620814073de4a24781846d8ea9a2c8c0df3007615517f922cb9991f3a7a7.nar.xz

I'm getting the following error:
[code]
 I'm using cloudfare 1.1.1.1 dns,

If I open the URL in a browser I get:
![image](https://user-images.githubusercontent.com/950087/107833376-e78fd200-6d47-11eb-9bbf-41d708c0f712.png)

I'm not sure if this is the rig

[2021-02-13 18:08] domenkozar commented on #356
It was an upstream DNS issue that was resolved a few hours later.

[2021-02-13 18:08] #356 closed

[2021-02-17 12:10] domenkozar opened #357 "Use case: DVC replacement"
from Junji:

BTW, DVC is often talked about for version control of machine learning.
I think it makes sense to use nix to manage machine learning models, metrics, and data, but in reality it's not very well done.
One of the problems is that pytorch is not supported by nix.
Aside from the pytorch issue, do you think there is something wrong with using nix for data versioning?
Since dvc supports bac

[2021-02-17 13:53] domenkozar commented on #9
Refs https://www.reddit.com/r/NixOS/comments/llf6fl/callcabal2nix_cachix/

[2021-02-24 08:34] arianvp opened #358 "watch-exec doesn't `wait()` for its spawned children when there is an error"
My `cachix watch-exec` exited due to an error ( i didn't have the right signing key set). `cachix` command exited; but the `nix-build` command continued in the background spamming my terminal; with no way for me to cancel it except `pkill nix-build`.

`cachix watch-exec` should `wait()` for all its children to be terminated when it terminates itself cleanly

[2021-02-24 21:34] domenkozar commented on #358
Good catch, thanks!

[2021-03-05 10:42] jmatsushita opened #360 "How to push after build?"
Maybe a good topic for the FAQ? If I nix-build withoiut `watch-exec`  or `watch-store` how do I push the cache?

[2021-03-05 10:53] jmatsushita commented on #360
@arianvp Gave me the answer:

[2021-03-05 12:10] jmatsushita commented on #360
Digging a bit more into this, using `nix-store --query --requisites` captures too much. Since it queries the whole graph (including build time dependencies of build time dependencies, all the way down).

A somewhat inelegant solution (apart from not forgetting to use `cachix watch-exec` next time) is to pick a few layers up using `--references`. For instance for me:
[code]

Whereas the whole graph

[2021-03-05 19:51] hhefesto commented on #292
Hi! First of all, thank you for such lovely caching. It has worked great for our open source project : )

When I do `cachix push telomare` I get an error: "No signature found. Most likely because signing key wasn't set. Run `cachix generate-keypair`."

When I try `cachix generate-keypair telomare` I get another error: "Public signing key already exists. It's currently not possible to override or a

[2021-03-05 20:33] domenkozar commented on #292
@hhefesto those error messages are really unfortunate, I'll improve them.

You need to set `$CACHIX_AUTH_TOKEN` as Push instructions say on https://app.cachix.org/cache/telomare

[2021-03-06 14:48] risicle opened #362 "Don't output to stdout, at least in watch-exec mode"
Cachix (0.6.0) appears to print `Watching /nix/store for new store paths ...` and associated messages to its stdout when running in `watch-exec` mode. This ruins the ability to use the stdout of the wrapped program, which is an issue if you're doing something as simple as

[code]

Ideally this status information would go to stderr, but even adding a `--quiet` mode would help here.

Edit: for now,

[2021-03-07 03:38] hhefesto commented on #292
I've changed machines, and did a new auth token because I thought I had lost the old one. I did `cachix authtoken <TOKEN>` (as per Push instructions), but still got the error.

Fortunately I was able to find an old old old private gitter conversation where I had shared my `~/.config/cachix/cachix.dhall` content.

My new `cachix.dhall` content had my newly generated authToken, but the `secretKey` o

[2021-03-08 18:08] remexre opened #363 "Support authtoken on stdin"
The CI platform I use (builds.sr.ht) has `set -x` on (which is useful!).
However, this results in a command like `cachix authtoken $(< ~/.cachix-auth-token)` leaking the auth token in the logs, since `set -x` logs after expansion of variables, command substitutions, etc.

Would it be reasonable to read the auth token from stdin if none is provided to the CLI, or if `--stdin` is passed or something

[2021-03-08 21:18] domenkozar commented on #363
Reading it from stdin if none is provided sounds good to me.

[2021-03-08 21:19] domenkozar commented on #362
Agreed

[2021-03-10 19:41] domenkozar commented on #292
Thanks @hhefesto. With this feedback there's a lot to improve, I'll think about this soon and write here what improvements I made.

[2021-03-13 19:21] risicle commented on #362
Updated hack:

[code]

Needed a little more patching than I thought.

[2021-03-18 20:13] thequicksort opened #365 "Cachix use "Empty stream" errors"
Hi there, thank you for this project.

My lab has a cachix account registered with [uwmisl.cachix.org
](uwmisl.cachix.org).

However, upon trying to use it with

[code]

We're getting the following error

[code]

I can't find any other debugging information unfortunately :(

If it helps, here's a subsection of my printenv.
[code]

Any ideas about what's causing this? We've tried re-authenticating

[2021-03-19 09:32] domenkozar commented on #365
Hi @thequicksort,

Could you paste the output of `id -Gn $USER` in your terminal?

[2021-03-19 09:37] thequicksort commented on #365
Sure thing, thanks again for your help! Running `id -Gn $USER` on my MacBook results in:

[code]

I can try from my Linux machine as well (though they're all getting the same error)

[2021-03-19 09:41] domenkozar commented on #365
@thequicksort that looks good, how about `nix show-config | grep trusted-users`?

[2021-03-19 12:23] domenkozar commented on #181
It's now possible to add cache members without github integration, meaning that GitHub account is no longer required for Cachix.

For other integrations, I'm still waiting for enough interest to prioritize that work.

[2021-03-20 07:12] thequicksort commented on #365
Sorry for my delayed reply.
[code]

I added my `$(whoami)` to my trusted-users but I'm running into the same issue.

[2021-03-20 11:35] domenkozar commented on #365
@thequicksort could you try installing cachix with:

[code]

That might fix your problem, PR at https://github.com/cachix/cachix/pull/366

[2021-03-21 02:40] thequicksort commented on #365
Thanks again! I ended up deleting my /etc/nix.conf and ~/.config/nix/nix.conf files, then re-installed Nix, then reinstalled cachix with sudo (and also used sudo for configuring the caches).

For future people running into this: This may be due to a misconfigured Nix Conf.

I could be wrong here, as I'm still learning about the single-user vs. multi-user nix installs and how the configurations int

[2021-03-21 21:03] domenkozar commented on #365
@thequicksort did my fix help at all or you didn't try it before doing the reinstallation?

[2021-03-21 21:04] domenkozar commented on #365
Note there's a typo in https://github.com/uwmisl/poretitioner/blob/jdunstan/beta/bootstrap_dev.sh#L312

[2021-03-22 17:48] georgewsinger opened #367 "Forcing Cachix to provide the `./result` of a pre-specified nix-build?"
Cachix is great, but only works correctly if the repo a user is building is *exactly* like the repo that was pushed to cachix (due to the nature of nix). This leads to problems like the following:

**Cachix can sometimes make it hard for users to update their programs.** Example:

1.  A user downloads `GitHub/repo` and uses cachix to download its binary.
2.  Using the binary causes the user's `rep

[2021-03-23 13:13] domenkozar commented on #367
I have plans to better support the distribution of software, but for now you'll have to implement your own solution.

@georgewsinger before I can propose a solution I wonder what's your use case exactly? Are users interested in installing the latest version of your software or something else?

[2021-03-23 13:47] domenkozar commented on #365
@thequicksort if you didn't try out my fix that's OK, I've merged the fix that would solve the problem in case nix.conf wasn't parseable.

[2021-03-23 15:48] georgewsinger commented on #367
@domenkozar Thanks.  My use case is

1. Allowing users to clone only the minimum repo from us they need to run our program (as opposed to cloning the minimum repo needed to *compile* our program), and still being able to download our binaries from cachix.
2. Allowing users to update their binaries from cachix without having to reclone everything from scratch.

[2021-03-23 16:30] domenkozar commented on #367
@georgewsinger two questions:

1. Do you need your users to really clone the repo and if so, why? What if they only got the binaries?
2. How do you expect users to update, run a command?

[2021-03-23 16:54] georgewsinger commented on #367
1.  There's lots of config files that are needed in the repo, in addition to the binaries.  Maybe 5% of the repo actually needs cloned, in addition to the binaries.
2. Yes, we expect them to update by running a command which wraps cachix, which places the updated binaries into `./result/bin/*`.

In case helpful, the repo in question is [SimulaVR](https://github.com/SimulaVR/Simula).  The way we ar

[2021-03-24 10:12] domenkozar commented on #367
@georgewsinger until I have a better solution, is there a way for you to have user configs outside the repository? Alternatively, you could filter them out with `builtins.path`

[2021-03-29 00:09] georgewsinger commented on #367
@domenkozar We're working on a workaround using `builtins.filterSource` and some other stuff.  Forced cachix updates would still be useful to us in the future though. :)

Also: thanks for creating cachix.  One of the most useful tools we've come across.

[2021-03-29 07:24] domenkozar commented on #367
@georgewsinger I plan to work on binary distribution at some point, but a few things have higher priority so I can't really say when.

I know that handling this by filtering source is quite error-prone, I hope that for the time at least have a solution!

[2021-04-06 14:29] #363 closed

[2021-04-07 08:09] Mic92 opened #370 "cachix-watch-store.service exists with nix::InvalidPath"
I just want to drop this issue here that I saw in our nix-community build01 server:
Our cachix executable: /nix/store/cgwfcpz5bfrmgif0ma60fx1ql9jyb8jn-cachix-0.6.0/bin/cachix
Our nix store path: /nix/store/rwadznmx33jb4kc4wnpr762058xla6jb-nix-2.4pre20210317_8a5203d/

[code]

Obiviously this might a bug in nix rather than cachix. If it occurs on a more regular base I will try to debug it into furth

[2021-04-07 08:24] domenkozar commented on #370
That sounds like the path is not registered in Nix. Cachix uses Nix 2.3, so that also might be the reason for discrepancies.

[2021-04-07 08:35] Mic92 commented on #370
Is it the nix version linked against cachix or the one in $PATH? https://github.com/nix-community/infra/blob/0cb34dc82b753439cd2912edb008eb05483168cd/roles/nix-community-cache.nix#L11

[2021-04-07 09:00] domenkozar commented on #370
It's linked at build time.

[2021-04-08 09:00] Mic92 commented on #370
Is it feasible to link against `nixUnstable`? I am not so familiar with the haskell override mechanism.

[2021-04-08 09:21] domenkozar commented on #370
It's not trivial as C++ api changed in master.

I don't belive that's likely the culprit.

Maybe there's a GC run that has the same timing as these errors?

[2021-04-08 10:50] Mic92 commented on #370
You are right. I can see a garbage collection around the same time.

[2021-04-08 14:17] domenkozar commented on #370
Opened https://github.com/NixOS/nix/issues/4698 and documented at https://github.com/cachix/docs.cachix.org/pull/38

[2021-04-09 06:29] Mic92 commented on #370
We had adisbladis queued-build-hook before https://github.com/nix-community/queued-build-hook:
However that one was quite slow because it launched one cachix instance per derivation...
and we have a lot of emacs extensions to build. I guess this was still better than:
https://docs.cachix.org/continuous-integration-setup/hydra.html

I think the best course of actions would be to shutdown `hydra-que

[2021-04-09 07:42] Mic92 commented on #370
Here is the workaround: https://github.com/nix-community/infra/pull/81/files

[2021-04-09 09:04] Mic92 commented on #370
I skimmed a bit over the code of cachix. Does it only try to drain the upload queue on sigint? I might need to change the stop signal in this case in our cachix-watch-store.service.

[2021-04-09 18:45] domenkozar commented on #370
I think so, what signal are you sending it?

[2021-04-10 05:27] Mic92 commented on #370
We are currently using:

[code]

However `KillSignal` in systemd defaults to SIGTERM, not SIGINT. I am going to change this to SIGINT, but I think it would be more intuitive if cachix would catch both signals and treat them equally.

[2021-04-10 17:46] domenkozar opened #371 "output: print compressed since when done"
Requested by @endgame

[2021-04-12 17:39] domenkozar commented on #370
Agreed!

[2021-04-27 04:35] ericbmerritt commented on #301
Just to add my support for this. For a lot of reasons, my organization has to use nix in a non-root location. That works just fine, but cachix not supporting it means I need to build my own binary cache, which I would love not to have to do.

[2021-04-27 08:13] domenkozar commented on #301
Hey @ericbmerritt, thanks for letting me know!

How do you configure /nix/store location, via nix.conf?

[2021-04-27 14:47] veprbl commented on #301
The current store location can be queried with something like `nix eval --raw '(builtins.storeDir)'`

[2021-04-27 15:28] domenkozar commented on #301
This requires some work on C++/Haskell bindings first (will take 2-3 weeks), then I can tackle it.

[2021-04-27 15:33] ericbmerritt commented on #301
@domenkozar Nix needs to be installable on a new machine without a preexisting nix, so we do a multiple-phase build to create the new binary tarball/install script pointing to a new nix store location. The new store location is included in the nix.conf. That said, the nix.conf itself is in the new location. All of that said, the solution @veprbl provided works just fine.

[2021-04-28 13:17] domenkozar commented on #301
@ericbmerritt is there a way for me to reproduce this myself? Cachix executable links to Nix, so I'd like to make sure your use case is supported.

[2021-04-29 14:58] ericbmerritt commented on #301
@domenkozar There are a couple of different ways that work. The easiest is probably this one: https://dram.page/p/bootstrapping-nix/. Though https://rgoswami.me/posts/local-nix-no-root/ works as well and cachix is buildable with both of them. Either one needs some manual fixup of the local environment. If you decide to go that route I can provide some scripts that I use.

[2021-04-30 17:50] domenkozar commented on #301
How about supporting https://github.com/DavHau/nix-portable, that seems easier to get started with?

[2021-05-07 07:21] domenkozar opened #373 "Content-addressable derivations support"
This issue tracks CA derivations support and requests for it.

[2021-05-13 20:43] simonvpe opened #374 "Provide a statically linked binary"
I'm trying to optimize my build containers that I run on gitlab.com but just adding cachix to the image increases the image size by ~4GB. I've tried manually walking the dependencies for cachix and bringing in exactly the right shared obejcts it needs but when I do that I'm getting the error below.

I've made sure I can `curl` to 'https://cachix.org` and now I'm pretty much stuck. It'd be pretty s

[2021-05-14 14:45] domenkozar commented on #374
Duplicates #184

[code]

It's 150M, but that's mostly Nix also in the closure so if you install Nix from the same commit as Cachix it should really be about 50M extra.

One way to pull in cachix would be to `nix-store -r /nix/store/q0lqpbbxcn2y4f23nhms7ncj7gvwbid1-cachix-0.6.0` (assuming Linux).

I wonder how you got to 4GB closure?